{% extends 'base.html' %}

{% block title %}Pareikšti užuojautą{% endblock %}

{% block content %}
<h2>Pareikšti užuojautą</h2>
<form action="" method="post">
    {% csrf_token %}
        <p>Laukeliai, pažymėti žvaigždute <abbr title="Required">*</abbr>, yra privalomi.</p>
        <fieldset>
            <legend>Pagrindinė informacija</legend>
            <p>
                {{ form.title.label_tag }}<abbr title="Required">*</abbr><br />
                {{ form.title }}
                {% if form.title.errors %}
                    <span class="error">
                        {% for error in form.title.errors %}
                            {{ error }} 
                        {% endfor %}
                    </span>
                {% endif %}
                {% if form.title.help_text %}<br /><span class="helptext">{{form.title.help_text }}</span>{% endif %}
            </p>
            <p>
                {{ form.body.label_tag }}<abbr title="Required">*</abbr><br />
                {{ form.body }}
                {% if form.body.errors %}
                    <span class="error">
                        {% for error in form.body.errors %}
                            {{ error }} 
                        {% endfor %}
                    </span>
                {% endif %}
                {% if form.body.help_text %}<br /><span class="helptext">{{form.body.help_text|safe }}</span>{% endif %}
            </p>
        </fieldset>
        <fieldset>
            <legend>Autoriaus informacija</legend>
            <p>
                {{ form.first_name.label_tag }}<abbr title="Required">*</abbr><br />
                {{ form.first_name }}
                {% if form.first_name.errors %}
                    <span class="error">
                        {% for error in form.first_name.errors %}
                            {{ error }} 
                        {% endfor %}
                    </span>
                {% endif %}
                {% if form.first_name.help_text %}<br /><span class="helptext">{{form.first_name.help_text }}</span>{% endif %}
            </p>
            <p>
                {{ form.last_name.label_tag }}<abbr title="Required">*</abbr><br />
                {{ form.last_name }}
                {% if form.last_name.errors %}
                    <span class="error">
                        {% for error in form.last_name.errors %}
                            {{ error }} 
                        {% endfor %}
                    </span>
                {% endif %}
                {% if form.last_name.help_text %}<br /><span class="helptext">{{form.last_name.help_text }}</span>{% endif %}
            </p>
            <p>
                {{ form.organization_title.label_tag }}<br />
                {{ form.organization_title }}
                {% if form.organization_title.errors %}
                    <span class="error">
                        {% for error in form.organization_title.errors %}
                            {{ error }} 
                        {% endfor %}
                    </span>
                {% endif %}
                {% if form.organization_title.help_text %}<br /><span class="helptext">{{form.organization_title.help_text }}</span>{% endif %}
            </p>
        </fieldset>

    <button type="submit" value="submit" >Pateikti</button>
    <a class="cancel" href="/">Atšaukti</a>
</form>
{% if form.errors %}
    <p class="error">
        Užuojautos pateikti nepavyko. Atidžiai perskaitykite klaidų pranešimus ir pabandykite dar kartą.
    </p>
    {{ form.non_field_errors }}
{% endif %}
{% endblock %}

{% block sidebar %}
<div class="box">
    <h2 class="headline">Užuojautos teksto pagalba</h2>
    <ul>
        <li>Norėdami pradėti naują pastraipą, įterpkite tuščią eilutę</li>
        <li>Norėdami įterpti pastraipos antraštę, pradėkite naują eilutę simboliais "h2. "</li>
        <li>Norėdami sukurti nenumeruotą sąrašą, pradėkite kiekvieną eilutę simboliais "* "</li>
        <li>Norėdami įterpti numeruotą sąrašą, pradėkite kiekvieną eilutę simboliais "# "</li>
        <li>Norėdami įterpti nuorodą, rašykite "nuorodos tekstas":nuoroda</li>
        <li>Daugiau informacijos ir pavyzdžių rasite <a target="_blank" href="http://en.wikipedia.org/wiki/Textile_%28markup_language%29">Textile svetainėje</a></li>
    </ul>
</div>
{% endblock %}