{% extends 'base.html' %}
{% load markup %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}

<h1>
	{{ event.title }}

	{% if event.previous_event_exists %}
		<a class="previous" title="{{ event.get_previous_event_title }}" href="{{ event.get_previous_event_url }}"><img src="{{ STATIC_URL}}images/toolbar/left_arrow.png" width="32" height="32" /></a>
	{% endif %}
	{% if event.next_event_exists %}
		<a class="next" title="{{ event.get_next_event_title }}" href="{{ event.get_next_event_url }}"><img src="{{ STATIC_URL}}images/toolbar/right_arrow.png" width="32" height="32" /></a>
	{% endif %}
</h1>

{% if event.start_date %}
    <p class="meta">
        <b>Pradžia:</b> {{ event.start_date|date:'M j, Y g:i a' }}{% if event.end_date %} | <b>Pabaiga:</b> {{ event.end_date|date:'M j, Y g:i a' }}{% endif %}
    </p>
{% endif %}

<p class="meta">
    <b>Adresas:</b> <span id="address">{{ event.street_address1 }}{% if event.street_address2 %}, {{ event.street_address2 }}{% endif %}{% if event.street_address3 %}, {{ event.street_address3 }}{% endif %}{% if event.street_address4 %}, {{ event.street_address4 }}{% endif %}{% if event.city %}, {{ event.city }}{% endif %}{% if event.state %}, {{ event.state }}{% endif %}{% if event.zip_code %} {{ event.zip_code }}{% endif %}{% if event.country %}, {{ event.country }}{% endif %}</span>
</p>

{% if event.first_name or event.organization_title %}
    <p class="meta">
    	<b>Organizatorius:</b>	
    	{% if event.first_name %}
    		{{ event.first_name }} {{ event.last_name }}{% if event.organization_title %}, {{ event.organization_title }}{% endif %}
		{% else %}
			{{ event.organization_title }}
		{% endif %}
    </p>
{% endif %}

{% if event.phone_number or event.email_address %}
    <p class="meta">
        {% if event.phone_number %}
            <b>Telefonas:</b> {{ event.phone_number }}
        {% endif %}
        {% if event.email_address %}
         <b>El. paštas:</b> <a href="mailto:{{ event.email_address }}">{{ event.email_address }}</a>
        {% endif %}
    </p>
{% endif %}

{{ event.body|striptags|textile }}

{% endblock%}

{% block sidebar %}
<div class="box">
    <h2 class="headline">Papildomos funkcijos</h2>
    <ul class="clean">
        <li><img src="{{ STATIC_URL }}images/toolbar/map.png" width="32" height="32" title="Žemėlapis" alt="Žemėlapis" /><a href="zemelapis">Renginio vieta</a></li>
        {% if is_upcoming %}
            <li><img src="{{ STATIC_URL }}images/toolbar/event.png" width="32" height="32" title="Priminimas" alt="Priminimas" />
                {% if has_reminder %}
                    <a href="nepriminti">Pašalinti priminimą</a>
                {% else %}
                    <a href="priminti">Užsisakyti priminimą</a>
                {% endif %}
                </li>
        {% endif %}
        <li><img src="{{ STATIC_URL }}images/toolbar/add_event.png" width="32" height="32" title="Kaledorius" alt="Kalendorius" /><a href="kalendorius">Įkelti į kalendorių</a></li>
        <li><img src="{{ STATIC_URL }}images/toolbar/comments.png" width="32" height="32" title="Komentarai" alt="Komentarai" /><a href="komentarai">Komentarai{% if comment_count %} ({{ comment_count }}){% endif %}</a></li>
        <li><img src="{{ STATIC_URL }}images/toolbar/image.png" width="32" height="32" title="Nuotraukos" alt="Nuotraukos" /><a href="/nuotraukos/renginys/{{ event.id }}/">Renginio nuotraukos{% if photo_count %} ({{ photo_count }}){% endif %}</a></li>
        {% if attachment_count %}
        <li><img src="{{ STATIC_URL }}images/toolbar/attachment-2.png" width="32" height="32" title="Prisegtukai" alt="Prisegtukai" /><a href="prisegtukai">Prisegtukai ({{ attachment_count }})</a></li>
        {% endif %}
    </ul>
</div>
<div class="box">
    <ul class="clean">
        <li><img src="{{ STATIC_URL }}images/toolbar/add.png" width="32" height="32" title="Įkelti" alt="Įkelti" /><a href="../pateikti">Pranešti apie renginį</a></li>
        {% if user.id == event.user_id or user.is_staff %}
        <li><img src="{{ STATIC_URL }}images/toolbar/edit.png" width="32" height="32" title="Redaguoti" alt="Redaguoti" /><a href="redaguoti">Redaguoti</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
