{% extends 'base.html' %}
{% load markup %}

{% block title %}Ačiū{% endblock %}

{% block content %}
<h1>Ačiū!</h1>

<p>Jūsų pateikta informacija apie renginį sėkmingai išsaugota mūsų sistemoje. 
	Redakcijos komanda nedelsiant peržiūrės pateiktą informaciją ir patvirtins 
	jos publikavimą svetainėje. Apie tai Jūs būsite informuota(s) el. paštu.</p>
{% endblock%}

{% block sidebar %}
<div class="box">
    <h2 class="headline">Papildomos funkcijos</h2>
    <ul class="clean">
        <li><img src="{{ STATIC_URL }}images/toolbar/add.png" width="32" height="32" title="Pateikti" alt="Pateikti" /><a href="/renginiai/pateikti">Pranešti apie renginį</a></li>
    </ul>
</div>
{% endblock %}