{% extends 'base.html' %}
{% load markup %}

{% block title %}{{ event.title }}{% endblock %}

{% block header %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript">
        var eventMap = {};
        function codeAddress() {
            var address = document.getElementById("address").textContent;
            geocoder.geocode(
                {'address' : address, 'region' : 'us'},
                function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        eventMap.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map : eventMap,
                            position : results[0].geometry.location
                        });
                    } else {
                        alert("Geocode was not successful for the following reason: " + status);
                    }   
                }
            );
        }
        
        function initialize() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(40.7142, -74.0064);
            var mapOptions = {
                center: latlng,
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
                };
            eventMap = new google.maps.Map(document.getElementById("map"), mapOptions);
            codeAddress();
            }
            
        function loadScript() {
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyBh8x5yeCKGLO6eSEywng_TFkRx__7Y72Q&sensor=false&callback=initialize";
            document.body.appendChild(script);
            }
        
        window.onload = loadScript;
    </script>

{% endblock %}

{% block content %}

<h1>{{ event.title }}</h1>

{% if event.start_date %}
    <p class="meta">
        <b>Pradžia:</b> {{ event.start_date|date:'M j, Y g:i a' }}{% if event.end_date %} | <b>Pabaiga:</b> {{ event.end_date|date:'M j, Y g:i a' }}{% endif %}
    </p>
{% endif %}

<p class="meta">
    <b>Adresas:</b> <span id="address">{{ event.street_address1 }}{% if event.street_address2 %}, {{ event.street_address2 }}{% endif %}{% if event.street_address3 %}, {{ event.street_address3 }}{% endif %}{% if event.street_address4 %}, {{ event.street_address4 }}{% endif %}{% if event.city %}, {{ event.city }}{% endif %}{% if event.state %}, {{ event.state }}{% endif %}{% if event.zip_code %} {{ event.zip_code }}{% endif %}{% if event.country %}, {{ event.country }}{% endif %}</span>
</p>

{% if event.first_name or event.organization_title %}
    <p class="meta">
    	<b>Organizatorius:</b>	
    	{% if event.first_name %}
    		{{ event.first_name }} {{ event.last_name }}{% if event.organization_title %}, {{ event.organization_title }}{% endif %}
		{% else %}
			{{ event.organization_title }}
		{% endif %}
    </p>
{% endif %}

{% if event.phone_number or event.email_address %}
    <p class="meta">
        {% if event.phone_number %}
            <b>Telefonas:</b> {{ event.phone_number }}
        {% endif %}
        {% if event.email_address %}
         <b>El. paštas:</b> <a href="mailto:{{ event.email_address }}">{{ event.email_address }}</a>
        {% endif %}
    </p>
{% endif %}

<p>&larr; <a href="/renginiai/{{ event.id }}">Atgal į renginio aprašymą</a></p>

<div id="map"> </div>

{% endblock%}

{% block sidebar %}
<div class="box">
    <h2 class="headline">Papildomos funkcijos</h2>
    <ul class="clean">
        <li><img src="{{ STATIC_URL }}images/toolbar/add.png" width="32" height="32" title="Įkelti" alt="Įkelti" /><a href="/renginiai/pateikti">Pranešti apie renginį</a></li>
        {% if user.id == event.user_id or user.is_staff %}
        <li><img src="{{ STATIC_URL }}images/toolbar/edit.png" width="32" height="32" title="Redaguoti" alt="Redaguoti" /><a href="../redaguoti">Redaguoti</a></li>
        {% endif %}
        <li><img src="{{ STATIC_URL }}images/toolbar/comments.png" width="32" height="32" title="Komentarai" alt="Komentarai" /><a href="../komentarai">Komentarai{% if comment_count %} ({{ comment_count }}){% endif %}</a></li>
        {% if attachment_count %}
        <li><img src="{{ STATIC_URL }}images/toolbar/attachment-2.png" width="32" height="32" title="Prisegtukai" alt="Prisegtukai" /><a href="../prisegtukai">Prisegtukai ({{ attachment_count }})</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
