{% extends 'base.html' %}
{% load markup %}

{% block title %}{{ event.title }}{% endblock %}

<!-- Start Facebook Open Graph tags -->
{% block header %}
<meta property="og:title" content="{{ event.title }}" />
<meta property="og:image" content="{{ SITE_URL }}{{ MEDIA_URL }}{{ event.image }}" />
<meta property="og:site_name" content="JAV LB Niujorko apygarda" />
<meta property="og:url" content="{{ event.get_absolute_url }}" />
<meta property="og:description" content="{{ event.body|striptags|truncatewords:50 }}" />
{% endblock %}
<!-- End Facebook Open Graph tags -->

{% block content %}

<!-- Start Facebook JavaScript SDK -->
<div id="fb-root"> </div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- End Facebook JavaScript SDK -->

<h1>
	{{ event.title }}

	{% if event.previous_event_exists %}
		<a class="previous" title="{{ event.get_previous_event_title }}" href="{{ event.get_previous_event_url }}"><img src="{{ STATIC_URL}}images/toolbar/left_arrow.png" width="32" height="32" /></a>
	{% endif %}
	{% if event.next_event_exists %}
		<a class="next" title="{{ event.get_next_event_title }}" href="{{ event.get_next_event_url }}"><img src="{{ STATIC_URL}}images/toolbar/right_arrow.png" width="32" height="32" /></a>
	{% endif %}
</h1>

{% if event.start_date %}
    <p class="meta">
        <b>Pradžia:</b> {{ event.start_date|date:'M j, Y g:i a' }}{% if event.end_date %} | <b>Pabaiga:</b> {{ event.end_date|date:'M j, Y g:i a' }}{% endif %}
    </p>
{% endif %}

<p class="meta">
    <b>Adresas:</b> <span id="address">{{ event.get_full_address }}</span>
</p>

{% if event.first_name or event.organization_title %}
    <p class="meta"><b>Organizatorius:</b>	{{ event.get_organizer_full_name }}</p>
{% endif %}

{% if event.phone_number or event.email_address %}
    <p class="meta">
        {% if event.phone_number %}
            <b>Telefonas:</b> {{ event.phone_number }}
        {% endif %}
        {% if event.email_address %}
         <b>El. paštas:</b> <a href="mailto:{{ event.email_address }}">{{ event.email_address }}</a>
        {% endif %}
    </p>
{% endif %}


<p class="meta">
	<div style="text-align: center;">
		<div class="fb-like" data-href="{{ event.get_absolute_url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
		<div class="fb-share-button" data-href="{{ event.get_absolute_url }}" data-type="button_count"></div>
	</div>
</p>


{{ event.body|striptags|textile }}

<p>&larr; <a href="/renginiai">Atgal į renginių sąrašą</a></p>

{% endblock%}

{% block sidebar %}
<div class="box">
    <h2 class="headline">Renginio informacija</h2>
    <ul class="clean">
        <li><img src="{{ STATIC_URL }}images/toolbar/map.png" width="32" height="32" title="Žemėlapis" alt="Žemėlapis" /><a href="zemelapis">Renginio vieta</a></li>
		{% comment %}
        {% if is_upcoming %}
            <li><img src="{{ STATIC_URL }}images/toolbar/event.png" width="32" height="32" title="Priminimas" alt="Priminimas" />
                {% if has_reminder %}
                    <a href="nepriminti">Pašalinti priminimą</a>
                {% else %}
                    <a href="priminti">Užsisakyti priminimą</a>
                {% endif %}
                </li>
        {% endif %}
        {% endcomment %}
        <li><img src="{{ STATIC_URL }}images/toolbar/add_event.png" width="32" height="32" title="Kaledorius" alt="Kalendorius" /><a href="kalendorius">Įkelti į kalendorių</a></li>
        <li><img src="{{ STATIC_URL }}images/toolbar/comments.png" width="32" height="32" title="Komentarai" alt="Komentarai" /><a href="komentarai">Komentarai{% if comment_count %} ({{ comment_count }}){% endif %}</a></li>
        <li><img src="{{ STATIC_URL }}images/toolbar/image.png" width="32" height="32" title="Nuotraukos" alt="Nuotraukos" /><a href="/nuotraukos/renginys/{{ event.id }}/">Renginio nuotraukos{% if photo_count %} ({{ photo_count }}){% endif %}</a></li>
        {% if attachment_count %}
        <li><img src="{{ STATIC_URL }}images/toolbar/attachment-2.png" width="32" height="32" title="Prisegtukai" alt="Prisegtukai" /><a href="prisegtukai">Prisegtukai ({{ attachment_count }})</a></li>
        {% endif %}
    </ul>
</div>
<div class="box">
	<h2 class="headline">Papildomos funkcijos</h2>
    <ul class="clean">
        <li><img src="{{ STATIC_URL }}images/toolbar/add.png" width="32" height="32" title="Įkelti" alt="Įkelti" /><a href="../pateikti">Pranešti apie renginį</a></li>
        {% if user.id == event.user_id or user.is_staff %}
        <li><img src="{{ STATIC_URL }}images/toolbar/edit.png" width="32" height="32" title="Redaguoti" alt="Redaguoti" /><a href="redaguoti">Redaguoti</a></li>
        {% endif %}
        {% if user.is_staff and not event.is_approved %}
        <li><img src="{{ STATIC_URL }}images/toolbar/accept_page.png" width="32" height="32" title="Patvirtinti" alt="Patvirtinti" /><a href="patvirtinti">Patvirtinti</a></li>
        {% endif %}

    </ul>
</div>

<div class="box spacious">
    <p class="action">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=info@nylithuanian.org&item_name=Parama%20JAV%20LB%20Niujorko%20apygardai&item_number=Niujorko%20apygarda&currency_code=USD&image_url=https://www.nylithuanian.org/static/images/logo_paypal.png&amount=5">Patinka ši svetainė?<br />
        Paremk ją $5.00 dovana!</a>
    </p>
    <p class="action">

    </p>
</div>
{% endblock %}
