{% extends 'base.html' %}

{% block header %}
    <link href="{{ STATIC_URL }}css/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ STATIC_URL }}css/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" >
    $(function() { 
       $("#id_start_date").datetimepicker({
       	controlType: 'select',
       	dateFormat: 'yy-mm-dd',
       	timeFormat: 'HH:mm'
       });
       $("#id_end_date").datetimepicker({
       	controlType: 'select',
       	dateFormat: 'yy-mm-dd',
       	timeFormat: 'HH:mm'       	
       });
	});  
</script>
{% endblock %}

{% block title %}Pranešti apie renginį{% endblock %}

{% block content %}
    <h2>Pranešti apie renginį</h2>
    <form enctype="multipart/form-data" accept-charset="utf-8" action="" method="post" >
        {% csrf_token %}
        {{ form.id }}
        
        {% if form.errors %}
            <p class="error">
                Renginio pateikti nepavyko. Atidžiai perskaitykite klaidų pranešimus ir pabandykite dar kartą.
            </p>
        {% endif %}
        
        <p>Laukeliai, pažymėti žvaigždute <abbr title="Required">*</abbr>, yra privalomi.</p>
        
        <fieldset>
	        <legend>Pagrindinė informacija</legend>
	        <p>
	            {{ form.title.label_tag }}<abbr title="Required">*</abbr><br />
	            {{ form.title }}
	            {% if form.title.errors %}
	                <span class="error">
	                    {% for error in form.title.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.title.help_text %}<br /><span class="helptext">{{ form.title.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            {{ form.body.label_tag }}<abbr title="Required">*</abbr><br />
	            {{ form.body }}
	            {% if form.body.errors %}
	                <span class="error">
	                    {% for error in form.body.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.body.help_text %}<br /><span class="helptext">{{ form.body.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            {{ form.start_date.label_tag }}<abbr title="Required">*</abbr><br />
	            {{ form.start_date }}
	            {% if form.start_date.errors %}
	                <span class="error">
	                    {% for error in form.start_date.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.start_date.help_text %}<br /><span class="helptext">{{ form.start_date.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            {{ form.end_date.label_tag }}<abbr title="Required">*</abbr><br />
	            {{ form.end_date }}
	            {% if form.end_date.errors %}
	                <span class="error">
	                    {% for error in form.end_date.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.end_date.help_text %}<br /><span class="helptext">{{ form.end_date.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            {{ form.street_address1.label_tag }}<abbr title="Required">*</abbr><br />
	            {{ form.street_address1 }}
	            {% if form.street_address1.errors %}
	                <span class="error">
	                    {% for error in form.street_address1.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.street_address1.help_text %}<br /><span class="helptext">{{ form.street_address1.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            {{ form.street_address2.label_tag }}<abbr title="Required">*</abbr><br />
	            {{ form.street_address2 }}
	            {% if form.street_address2.errors %}
	                <span class="error">
	                    {% for error in form.street_address2.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.street_address2.help_text %}<br /><span class="helptext">{{ form.street_address2.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            {{ form.street_address3.label_tag }}<abbr title="Required">*</abbr><br />
	            {{ form.street_address3 }}
	            {% if form.street_address3.errors %}
	                <span class="error">
	                    {% for error in form.street_address3.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.street_address3.help_text %}<br /><span class="helptext">{{ form.street_address3.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            {{ form.street_address4.label_tag }}<abbr title="Required">*</abbr><br />
	            {{ form.street_address4 }}
	            {% if form.street_address4.errors %}
	                <span class="error">
	                    {% for error in form.street_address4.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.street_address4.help_text %}<br /><span class="helptext">{{ form.street_address4.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            {{ form.city.label_tag }}<abbr title="Required">*</abbr><br />
	            {{ form.city }}
	            {% if form.city.errors %}
	                <span class="error">
	                    {% for error in form.city.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.city.help_text %}<br /><span class="helptext">{{ form.city.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            {{ form.zip_code.label_tag }}<abbr title="Required">*</abbr><br />
	            {{ form.zip_code }}
	            {% if form.zip_code.errors %}
	                <span class="error">
	                    {% for error in form.zip_code.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.zip_code.help_text %}<br /><span class="helptext">{{ form.zip_code.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            {{ form.state.label_tag }}<abbr title="Required">*</abbr><br />
	            {{ form.state }}
	            {% if form.state.errors %}
	                <span class="error">
	                    {% for error in form.state.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.state.help_text %}<br /><span class="helptext">{{ form.state.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            {{ form.country.label_tag }}<abbr title="Required">*</abbr><br />
	            {{ form.country }}
	            {% if form.country.errors %}
	                <span class="error">
	                    {% for error in form.country.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.country.help_text %}<br /><span class="helptext">{{ form.country.help_text|safe }}</span>{% endif %}
	        </p>
        </fieldset>
        
        <fieldset>
        	<legend>Organizatoriaus informacija</legend>
	        <p>
	            {{ form.first_name.label_tag }}<abbr title="Required">*</abbr><br />
	            {{ form.first_name }}
	            {% if form.first_name.errors %}
	                <span class="error">
	                    {% for error in form.first_name.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.first_name.help_text %}<br /><span class="helptext">{{ form.first_name.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            {{ form.last_name.label_tag }}<abbr title="Required">*</abbr><br />
	            {{ form.last_name }}
	            {% if form.last_name.errors %}
	                <span class="error">
	                    {% for error in form.last_name.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.last_name.help_text %}<br /><span class="helptext">{{ form.last_name.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            {{ form.organization_title.label_tag }}<abbr title="Required">*</abbr><br />
	            {{ form.organization_title }}
	            {% if form.organization_title.errors %}
	                <span class="error">
	                    {% for error in form.organization_title.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.organization_title.help_text %}<br /><span class="helptext">{{ form.organization_title.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            {{ form.phone_number.label_tag }}<abbr title="Required">*</abbr><br />
	            {{ form.phone_number }}
	            {% if form.phone_number.errors %}
	                <span class="error">
	                    {% for error in form.phone_number.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.phone_number.help_text %}<br /><span class="helptext">{{ form.phone_number.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            {{ form.email_address.label_tag }}<abbr title="Required">*</abbr><br />
	            {{ form.email_address }}
	            {% if form.email_address.errors %}
	                <span class="error">
	                    {% for error in form.email_address.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.email_address.help_text %}<br /><span class="helptext">{{ form.email_address.help_text|safe }}</span>{% endif %}
	        </p>        	
        </fieldset>
        
        <fieldset>
        	<legend>Kita informacija</legend>
	        <p>
	            {{ form.image.label_tag }}<abbr title="Required">*</abbr><br />
	            {{ form.image }}
	            {% if form.image.errors %}
	                <span class="error">
	                    {% for error in form.image.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.image.help_text %}<br /><span class="helptext">{{ form.image.help_text|safe }}</span>{% endif %}
	        </p>        	
	        <p>
	            {{ form.ticket_price.label_tag }}<abbr title="Required">*</abbr><br />
	            {{ form.ticket_price }}
	            {% if form.ticket_price.errors %}
	                <span class="error">
	                    {% for error in form.ticket_price.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.ticket_price.help_text %}<br /><span class="helptext">{{ form.ticket_price.help_text|safe }}</span>{% endif %}
	        </p>        	
        	
        </fieldset>

        <button type="submit" value="submit" >Pranešti</button>
        <a class="cancel" href="/">Atšaukti</a>
        
    </form>
    
    {% if form.non_field_errors %}
            <ul class="error">
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
    {% endif %}
{% endblock %}
