{% extends 'base.html' %}

{% block header %}
    <link href="{{ STATIC_URL }}css/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ STATIC_URL }}css/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" >
    $(function() { 
       $("#id_start_date, #id_end_date").datetimepicker({
       	controlType: 'select',
       	dateFormat: 'yy-mm-dd',
       	timeFormat: 'HH:mm'
       });
	});  
</script>
{% endblock %}

{% block content %}
    <h1>{% block form_title %}{% endblock %}</h1>
    <form enctype="multipart/form-data" accept-charset="utf-8" action="" method="post" >
        {% csrf_token %}
        {{ form.id }}
        
        {% if form.errors %}
            <p class="error">
                Renginio pateikti nepavyko. Atidžiai perskaitykite klaidų pranešimus ir pabandykite dar kartą.
            </p>
        {% endif %}
        
        <p>Privalomi laukeliai yra <span class="required">paryškinti</span>.</p>
        
        <fieldset>
	        <legend>Pagrindinė informacija</legend>
	        <p>
	            <label class="{{ form.title.css_classes }}" for="id_title">{{ form.title.label }}</label><br />
	            {{ form.title }}
	            {% if form.title.errors %}
	                <span class="error">
	                    {% for error in form.title.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.title.help_text %}<br /><span class="helptext">{{ form.title.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            <label class="{{ form.body.css_classes }}" for="id_body">{{ form.body.label }}</label><br />
	            {{ form.body }}
	            {% if form.body.errors %}
	                <span class="error">
	                    {% for error in form.body.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.body.help_text %}<br /><span class="helptext">{{ form.body.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            <label class="{{ form.start_date.css_classes }}" for="id_start_date">{{ form.start_date.label }}</label><br />
	            {{ form.start_date }}
	            {% if form.start_date.errors %}
	                <span class="error">
	                    {% for error in form.start_date.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.start_date.help_text %}<br /><span class="helptext">{{ form.start_date.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            <label class="{{ form.end_date.css_classes }}" for="id_end_date">{{ form.end_date.label }}</label><br />
	            {{ form.end_date }}
	            {% if form.end_date.errors %}
	                <span class="error">
	                    {% for error in form.end_date.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.end_date.help_text %}<br /><span class="helptext">{{ form.end_date.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            <label class="{{ form.street_address1.css_classes }}" for="id_street_address1">{{ form.street_address1.label }}</label><br />
	            {{ form.street_address1 }}
	            {% if form.street_address1.errors %}
	                <span class="error">
	                    {% for error in form.street_address1.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.street_address1.help_text %}<br /><span class="helptext">{{ form.street_address1.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            <label class="{{ form.street_address2.css_classes }}" for="id_street_address2">{{ form.street_address2.label }}</label><br />
	            {{ form.street_address2 }}
	            {% if form.street_address2.errors %}
	                <span class="error">
	                    {% for error in form.street_address2.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.street_address2.help_text %}<br /><span class="helptext">{{ form.street_address2.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            <label class="{{ form.street_address3.css_classes }}" for="id_street_address3">{{ form.street_address3.label }}</label><br />
	            {{ form.street_address3 }}
	            {% if form.street_address3.errors %}
	                <span class="error">
	                    {% for error in form.street_address3.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.street_address3.help_text %}<br /><span class="helptext">{{ form.street_address3.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            <label class="{{ form.street_address4.css_classes }}" for="id_street_address4">{{ form.street_address4.label }}</label><br />
	            {{ form.street_address4 }}
	            {% if form.street_address4.errors %}
	                <span class="error">
	                    {% for error in form.street_address4.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.street_address4.help_text %}<br /><span class="helptext">{{ form.street_address4.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            <label class="{{ form.city.css_classes }}" for="id_city">{{ form.city.label }}</label><br />
	            {{ form.city }}
	            {% if form.city.errors %}
	                <span class="error">
	                    {% for error in form.city.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.city.help_text %}<br /><span class="helptext">{{ form.city.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            <label class="{{ form.zip_code.css_classes }}" for="id_zip_code">{{ form.zip_code.label }}</label><br />
	            {{ form.zip_code }}
	            {% if form.zip_code.errors %}
	                <span class="error">
	                    {% for error in form.zip_code.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.zip_code.help_text %}<br /><span class="helptext">{{ form.zip_code.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            <label class="{{ form.state.css_classes }}" for="id_state">{{ form.state.label }}</label><br />
	            {{ form.state }}
	            {% if form.state.errors %}
	                <span class="error">
	                    {% for error in form.state.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.state.help_text %}<br /><span class="helptext">{{ form.state.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            <label class="{{ form.country.css_classes }}" for="id_country">{{ form.country.label }}</label><br />
	            {{ form.country }}
	            {% if form.country.errors %}
	                <span class="error">
	                    {% for error in form.country.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.country.help_text %}<br /><span class="helptext">{{ form.country.help_text|safe }}</span>{% endif %}
	        </p>
        </fieldset>
        
        <fieldset>
        	<legend>Organizatoriaus informacija</legend>
	        <p>
	            <label class="{{ form.first_name.css_classes }}" for="id_first_name">{{ form.first_name.label }}</label><br />
	            {{ form.first_name }}
	            {% if form.first_name.errors %}
	                <span class="error">
	                    {% for error in form.first_name.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.first_name.help_text %}<br /><span class="helptext">{{ form.first_name.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            <label class="{{ form.last_name.css_classes }}" for="id_last_name">{{ form.last_name.label }}</label><br />
	            {{ form.last_name }}
	            {% if form.last_name.errors %}
	                <span class="error">
	                    {% for error in form.last_name.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.last_name.help_text %}<br /><span class="helptext">{{ form.last_name.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            <label class="{{ form.organization_title.css_classes }}" for="id_organization_title">{{ form.organization_title.label }}</label><br />
	            {{ form.organization_title }}
	            {% if form.organization_title.errors %}
	                <span class="error">
	                    {% for error in form.organization_title.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.organization_title.help_text %}<br /><span class="helptext">{{ form.organization_title.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            <label class="{{ form.phone_number.css_classes }}" for="id_phone_number">{{ form.phone_number.label }}</label><br />
	            {{ form.phone_number }}
	            {% if form.phone_number.errors %}
	                <span class="error">
	                    {% for error in form.phone_number.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.phone_number.help_text %}<br /><span class="helptext">{{ form.phone_number.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            <label class="{{ form.email_address.css_classes }}" for="id_email_address">{{ form.email_address.label }}</label><br />
	            {{ form.email_address }}
	            {% if form.email_address.errors %}
	                <span class="error">
	                    {% for error in form.email_address.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.email_address.help_text %}<br /><span class="helptext">{{ form.email_address.help_text|safe }}</span>{% endif %}
	        </p>        	
        </fieldset>
        
        <fieldset>
        	<legend>Kita informacija</legend>
	        <p>
	            <label class="{{ form.image.css_classes }}" for="id_image">{{ form.image.label }}</label><br />
	            {{ form.image }}
	            {% if form.image.errors %}
	                <span class="error">
	                    {% for error in form.image.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.image.help_text %}<br /><span class="helptext">{{ form.image.help_text|safe }}</span>{% endif %}
	        </p>        	
	        <p>
	            <label class="{{ form.ticket_price.css_classes }}" for="id_ticket_price">{{ form.ticket_price.label }}</label><br />
	            {{ form.ticket_price }}
	            {% if form.ticket_price.errors %}
	                <span class="error">
	                    {% for error in form.ticket_price.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.ticket_price.help_text %}<br /><span class="helptext">{{ form.ticket_price.help_text|safe }}</span>{% endif %}
	        </p>        	
        	
        </fieldset>

        <button type="submit" value="submit" >{% block submit_button_title %}{% endblock %}</button>
        <a class="cancel" href="/">Atšaukti</a>
        
    </form>
    
    {% if form.non_field_errors %}
            <ul class="error">
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
    {% endif %}
{% endblock %}

{% block sidebar %}
<div class="box">
    <h2 class="headline">Renginio aprašymo pagalba</h2>
    <ul>
        <li>Norėdami pradėti naują pastraipą, įterpkite tuščią eilutę</li>
        <li>Norėdami įterpti pastraipos antraštę, pradėkite naują eilutę simboliais "h2. "</li>
        <li>Norėdami sukurti nenumeruotą sąrašą, pradėkite kiekvieną eilutę simboliais "* "</li>
        <li>Norėdami įterpti numeruotą sąrašą, pradėkite kiekvieną eilutę simboliais "# "</li>
        <li>Norėdami įterpti nuorodą, rašykite "nuorodos tekstas":nuoroda</li>
        <li>Daugiau informacijos ir pavyzdžių rasite <a target="_blank" href="http://en.wikipedia.org/wiki/Textile_%28markup_language%29">Textile svetainėje</a></li>
    </ul>
</div>
{% endblock %}