{% autoescape off %}
Jūs gaunate šį laišką, nes norite pakeisti pamirštą {{ site_name }} svetainės 
vartotojo slaptažodį. Jei manote, kad įvyko klaida, prašome apie tai nedelsiant
pranešti svetainės administratoriams: webmaster@nylithuanian.org

Slaptažodį pakeisti galite paspaudę ant šios nuorodos:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
{% endblock %}

Taip pat primename Jūsų vartotojo vardą: {{ user.username }}

Iki pasimatymo svetainėje!

{{ site_name }} komanda

{% endautoescape %}