{% extends "base.html" %}
{% block javascript %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript">
        // On window load. This waits until images have loaded which is essential
        $(window).load(function(){

            // Fade in images so there isn't a color "pop" document load and then on window load
            $(".mo").animate({opacity:1},500);

            // clone image
            $('.mo').each(function(){
                var el = $(this);
                el.css({"position":"absolute"}).wrap("<div class='img_wrapper' style='display: inline-block'>").clone().addClass('img_grayscale').css({"position":"absolute","z-index":"998","opacity":"0"}).insertBefore(el).queue(function(){
                    var el = $(this);
                    el.parent().css({"width":this.width,"height":this.height});
                    el.dequeue();
                });
                this.src = grayscale(this.src);
            });

            // Fade image
            $('.mo').mouseover(function(){
                $(this).parent().find('img:first').stop().animate({opacity:1}, 200);
            })
            $('.img_grayscale').mouseout(function(){
                $(this).stop().animate({opacity:0}, 200);
            });
        });

        // Grayscale w canvas method
        function grayscale(src){
            var canvas = document.createElement('canvas');
            var ctx = canvas.getContext('2d');
            var imgObj = new Image();
            imgObj.src = src;
            canvas.width = imgObj.width;
            canvas.height = imgObj.height;
            ctx.drawImage(imgObj, 0, 0);
            var imgPixels = ctx.getImageData(0, 0, canvas.width, canvas.height);
            for(var y = 0; y < imgPixels.height; y++){
                for(var x = 0; x < imgPixels.width; x++){
                    var i = (y * 4) * imgPixels.width + x * 4;
                    var avg = (imgPixels.data[i] + imgPixels.data[i + 1] + imgPixels.data[i + 2]) / 3;
                    imgPixels.data[i] = avg;
                    imgPixels.data[i + 1] = avg;
                    imgPixels.data[i + 2] = avg;
                }
            }
            ctx.putImageData(imgPixels, 0, 0, 0, 0, imgPixels.width, imgPixels.height);
            return canvas.toDataURL();
        }
    </script>
{% endblock %}

{% block sidebar %}
<div class="box">
    <h2 class="headline">Papildomos funkcijos</h2>
    <ul class="clean">
        <li><img src="{{ STATIC_URL }}images/toolbar/add.png" width="32" height="32" title="Įkelti" alt="Įkelti" /><a href="/nuotraukos/photo/pateikti">Įkelti nuotrauką</a></li>
        <li><img src="{{ STATIC_URL }}images/toolbar/add.png" width="32" height="32" title="Įkelti" alt="Įkelti" /><a href="/nuotraukos/gallery/pateikti">Sukurti albumą</a></li>		
    </ul>
</div>

<div class="box spacious">
    <p class="action">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=info@nylithuanian.org&item_name=Parama%20JAV%20LB%20Niujorko%20apygardai&item_number=Niujorko%20apygarda&currency_code=USD&image_url=https://www.nylithuanian.org/static/images/logo_paypal.png&amount=5">Patinka ši svetainė?<br />
        Paremk ją $5.00 dovana!</a>
    </p>
    <p class="action">

    </p>
</div>
{% endblock %}
