{% extends 'base.html' %}
{% load markup %}

{% block title %}{{ announcement.title }}{% endblock %}

{% block content %}
<h1>{{ newsletter.title }}</h1>

{{ newsletter.body|striptags|textile }}

{% endblock%}

{% block sidebar %}
<div class="box">
    <h2 class="headline">Papildomos funkcijos</h2>
    <ul class="clean">
        <li><img src="{{ STATIC_URL }}images/toolbar/add.png" width="32" height="32" title="Pateikti" alt="pateikti" /><a href="../pateikti">Sukurti naujienlaiškį</a></li>
        <li><img src="{{ STATIC_URL }}images/toolbar/edit.png" width="32" height="32" title="Redaguoti" alt="Redaguoti" /><a href="redaguoti">Redaguoti</a></li>
    </ul>
</div>
{% endblock %}
