{% extends 'base.html' %}

{% block title%}Apie mus{% endblock %}

{% block content %}
<h1>Apie mus</h1>

<p>
	The US Census Bureau gyventojų surašymo duomenimis, 2000 m. JAV iš viso buvo
	apie 660 tūkst. lietuvių tautybės gyventojų. Iš jų 49,1 tūkst. gyveno 
	Niujorko valstijoje, kai 1990 m. – 70,1 tūkst., o 1980 m. – 72,1 tūkstančio. 
	Remiantis neoficialiais šaltiniais, šiuo metu (2014 m.) Niujorko valstijoje 
	gyvenančių lietuvaičių skaičius gali siekti apie 80 tūkstančių. Niujorko 
	valstija buvo ir yra tarp penkių daugiausiai lietuvių pritraukiančių 
	valstijų kartu su Kalifornijos, Ilinojaus, Masačiusetso ir Pensilvanijos 
	valstijomis.
</p>

<h2>Bendruomenės struktūra</h2>
<p>
	Niujorkas svarbus net tik gausia lietuvių bendruomene, bet ir savo istorine 
	reikšme jos veikloje. Čia pirmą kartą buvo pradėta organizuoti visos JAV 
	lietuvių bendruomenės veikla, kai 1951 m. Niujorke buvo sudarytas Laikinasis 
	Organizacinis Komitetas (LOK). Vėliau tais pačiais metais čia pat 
	iškilmingai	paskelbtas ir pasirašytas <a title="JAV Lietuvių Bendruomenė" 
	href="http://www.lithuanian-american.org">JAV Lietuvių Bendruomenės</a> 
	Aktas. 
	1952-aisiais LOK nurodymu  Niujorko Organizacinis  Komitetas pradėjo vykdyti 
	veiklą kaip Niujorko Lietuvių Bendruomenės apygarda. Tai – Lietuvių 
	Bendruomenės <a title="Niujorko apygarda" href="apygarda">Niujorko 
	apygardos</a> veiklos pradžia.
</p>

<p>
	<a title="Niujorko apygarda" href="apygarda">Niujorko apygarda</a> 
	atstovauja Niujorko valstijoje veikiančioms apylinkėms, 
	taip pat lietvuviams ir jų šeimoms, gyvenančioms Niujorko valstijos 
	vietovėse, kur apylinkės nėra įsteigtos. Šiuo metu Niujorko valstijoje 
	veikia 4 apylinkės:
</p>
<ul>
	<li><a title="New York miesto apylinkė" href="new-york-miesto-apylinke">New 
		York miesto apylinkė</a></li> 
	<li><a title="Long Island apylinkė", href="long-island-apylinke">Long 
		Island apylinkė</a></li> 
	<li><a title="Rytinio Long Island apylinkė" 
		href="rytinio-long-island-apylinke">Rytinio Long Island apylinkė</a></li> 
	<li><a title="Rochester apylinkė" href="rochester-apylinke">Rochester 
		apylinkė</a></li> 
</ul>
<p>
	JAV Lietuvių Bendruomenės Krašto Valdyba įkuria apylinkes kiekvienoje 
	vietovėje, kur yra lietuvių, norinčių puoselėti lietuvišką veiklą.
</p>

<p>
	Apylinkių vykdoma veikla yra labai įvairiapusė – jos steigia bei remia 
	lituanistines mokyklas, organizuoja kultūros, sporto ir švietėjiškus 
	renginius bei kitaip puoselėja tautinę veiklą. Apylinkės renka metinį 
	solidarumo įnašą bei remia lietuvius nelaimės atvejais. Apylinkių 
	gyventojai veiklos organizavimui kas vienerius ar dvejus metus renka savo 
	valdybą.
</p>

<p>
	<a title="Niujorko apygarda" href="apygarda">Niujorko apygarda</a> taip pat turi savo valdybą, kuri renkama kas trejus 
	metus – valdybos kadencija sutampa su JAV LB Krašto Valdybos kadencija. Ji 
	atsakinga už apylinkių veiklos koordinavimą, bendrų, visos apygardos mastu 
	aktualių klausimų sprendimą ir interesų atstovavimą. Pavyzdžiui, ši 
	interneto svetainė yra vienas iš projektų, kurį įgyvendina ir plėtoja 
	Niujorko apygarda.
</p>

<p>
	Jei nori įsilieti į bendruomenės veiklą – būti naujienų bei įvykių sukūryje, 
	dalyvauti renginiuose, bendrauti, priimti sprendimus,
	<a title="Prisijunk" href="prisijunk">prisijunk prie mūsų</a>!
</p>

<p style="text-align: center;">
	<img alt="JAV LB struktūra" title="JAV LB struktūra" src="{{ STATIC_URL }}images/jav_lb_struktura.jpg" />
</p>

{% endblock %}

{% block sidebar %}
<h2 class="headline">Naudingos nuorodos</h2>
<ul>
	<li>
		<a title="Susitelkimo centrai" href="/apie-mus/susitelkimo-centrai/">Susitelkimo centrai</a>
	</li>
	<li>
		<a title="Prisijunk" href="/apie-mus/prisijunk/">Prisijunk!</a>
	</li>
	<li>
		<a title="Draugaukime" href="/apie-mus/prisijunk/">Draugaukime!</a>
	</li>
	<li>
		<a title="Apie JAV LB" href="/apie-mus/apie-jav-lb/">Apie JAV LB</a>
	</li>
</ul>

<h2 class="headline">Niujorko valstijoje veikia:</h2>
<ul>
	<li>
		<a title="Niujorko apygarda" href="/apie-mus/apygarda">Niujorko apygarda</a>
	</li>
	<li>
		<a title="New York miesto apylinkė" href="/apie-mus/new-york-miesto-apylinke">New York miesto apylinkė</a>
	</li>
	<li>
		<a title="Long Island apylinkė" href="/apie-mus/long-island-apylinke">Long Island apylinkė</a>
	</li>
	<li>
		<a title="Rytinio Long Island apylinkė" href="/apie-mus/rytinio-long-island-apylinke">Rytinio Long Island apylinkė</a>
	</li>
	<li>
		<a title="Rochester apylinkė" href="/apie-mus/rochester-apylinke">Rochester apylinkė</a>
	</li>
</ul>

<h2 class="headline">JAV LB nuorodos</h2>
<ul>
	<li>
		<a title="JAV Lietuvių Bendruomenė" target="_blank" href="http://www.lithuanian-american.org/">JAV Lietuvių Bendruomenė</a>
	</li>
	<li>
		<a title='Vadovėlis "Kas yra JAV Lietuvių Bendruomenė?"' href="{{ STATIC_URL }}files/jav_lb_vadovelis.pdf">Vadovėlis "Kas yra JAV Lietuvių Bendruomenė?"</a>
	</li>
	<li>
		<a title="JAV LB įstatai ir taisyklės" href="{{ STATIC_URL }}files/jav_lb_istatai.pdf">JAV LB įstatai ir taisyklės</a>
	</li>
</ul>
{% endblock %}
