{% extends 'base.html' %}

{% block title%}Apie mus{% endblock %}

{% block content %}
<h1>JAV Lietuvių Bendruomenė</h1>

<p>JAV Lietuvių Bendruomenė (JAV LB) remiasi Vyriausiojo Lietuvos Išlaisvinimo Komiteto 1949 metais paskelbtais Lietuvių Chartos principais, 
	raginančiais kiekvieną lietuvį išlaikyti ir ugdyti savo tautinę kultūrą, kalbą ir tradicijas ir “...išlaikytą lietuvių tautos gyvybę” perduoti ateities kartoms.</p>

<p>JAV Lietuvių Bendruomenė:</p>
<ul>
	<li>steigia ir remia lituanistines mokyklas</li>
	<li>organizuoja vietinę kultūrinę ir visuomeninę veiklą</li>
	<li>remia lietuvių sportinę veiklą</li>
	<li>rengia masines dainų ir šokių šventes bei mokslo simpoziumus</li>
	<li>skatina ir ugdo įvairių religinių įsitikinimų bei konfesijų lietuvių bendradarbiavimą</li>
	<li>rūpinasi lietuviams aktualiais socialiniais klausimais</li>
	<li>informuoja nelietuvius apie lietuvius ir Lietuvą liečiančius reikalus</li>
</ul>

<h2>JAV Lietuvių Bendruomenės struktūra</h2>
<p>JAV LB priklauso Pasaulio Lietuvių Bendruomenei (PLB), kuri jungia lietuvius, gyvenančius 36-iose užsienio šalyse, į vieną bendruomeninę šeimą. 
	PLB yra Lietuvos Užsienio Reikalų Ministerijos “Globalios Lietuvos” (GL) programos pirmtakas. Ir PLB, ir GL idėja grįsta suvokimu, kad esame viena Lietuvos tauta, 
	jungiama bendros lietuviškosios tapatybės ir istorinės atminties, ir, nepriklausomai kur gyventume, puoselėjame lietuvybę.</p>
	
<p><strong>Taryba</strong> – Vyriausias JAV LB organas. Tarybos nariai yra renkami iš visos Amerikos trejiems metams tiesoginiu ir slaptu lietuvių balsavimu. 
	Tarybos nariai susirenka bent kartą per metus ir nustato veiklos gaires Krašto valdybai.</p>

<p><strong>Krašto valdyba</strong> – Vyriausias JAV LB vykdomasis organas. JAV LB Krašto valdybą sudaro JAV LB Krašto valdybos pirmininkas, 
	jo pasirinkti bei pakviesti JAV LB Krašto valdybos nariai, JAV Lietuvių Jaunimo Sąjungos pirmininkas arba jo atstovas ir Sporto Sąjungos atstovas.</p>
	
<p><strong>Apygarda</strong> – Bendriems uždaviniams atlikti ir JAV LB apylinkių bendrai veiklai derinti veikia JAV LB apygarda. 
	Apygardą sudaro joje esančios apylinkės ir lietuviai, gyvenantys vietovėse, kur apylinkės nėra įsteigtos. Niujorke gyvenantys lietuviai priklauso Niujorko apygardai.</p>
	
<p><strong>Apylinkė</strong> – Kiekvienoje vietovėje, kur yra lietuvių, sudaroma JAV LB apylinkė. JAV LB apylinkės vyriausiasis organas yra JAV LB apylinkės susirinkimas.</p>

<p>Jei norite daugiau sužinoti apie JAV Lietuvių Bendruomenę, paskaitykite 2013 m. išleistą vadovėlį 
	<a title='Vadovėlis "Kas yra JAV Lietuvių Bendruomenė?"' href="">"Kas yra JAV Lietuvių Bendruomenė?"</a> (dokumento dydis - 15.6 MB) 
	arba apsilankykite organizacijos interneto svetainėje <a title="JAV Lietuvių Bendruomenė" target="_blank" href="http://www.lithuanian-american.org/">www.lithuanian-american.org</a>.</p>

{% endblock %}

{% block sidebar %}
<h2 class="headline">Niujorko valstijoje veikia:</h2>
<ul>
	<li><a title="Niujorko apygarda" href="/apie-mus/apygarda">Niujorko apygarda</a></li>
	<li><a title="New York miesto apylinkė" href="/apie-mus/new-york-miesto-apylinke">New York miesto apylinkė</a></li>
	<li><a title="Long Island apylinkė" href="/apie-mus/long-island-apylinke">Long Island apylinkė</a></li>
	<li><a title="Rytinio Long Island apylinkė" href="/apie-mus/rytinio-long-island-apylinke">Rytinio Long Island apylinkė</a></li>
	<li><a title="Rochester apylinkė" href="/apie-mus/rochester-apylinke">Rochester apylinkė</a></li>
</ul>

<h2 class="headline">Naudingos nuorodos</h2>
<ul>
	<li><a title="JAV Lietuvių Bendruomenė" target="_blank" href="http://www.lithuanian-american.org/">JAV Lietuvių Bendruomenė</a></li>
	<li><a title='Vadovėlis "Kas yra JAV Lietuvių Bendruomenė?"' href="{{ STATIC_URL }}files/jav_lb_vadovelis.pdf">Vadovėlis "Kas yra JAV Lietuvių Bendruomenė?"</a></li>
	<li><a title="JAV LB įstatai ir taisyklės" href="http://lithuanian-american.org/m/lt/wp-content/uploads/sites/3/2013/11/LB-Istatai-ir-Taisykles-2014-JU.pdf">JAV LB įstatai ir taisyklės</a></li>
</ul>
{% endblock %}
