{% extends 'flatpages/about_us.html' %}

{% block title%}Apie mus{% endblock %}

{% block content %}
<h1>Apie JAV LB</h1>


<p>
	Jungtinių Amerikos Valstijų lietuviai į vieningą organizaciją susibūrė 1951 
	m. lapkričio 18 d., kuomet Niujorke buvo iškilmingai paskelbtas ir 
	pasirašytas JAV Lietuvių Bendruomenės (LB) Aktas. Ši data – JAV LB 
	organizacijos gyvavimo pradžia.
</p>

<p>JAV LB priklauso Pasaulio Lietuvių Bendruomenei, kuri jungia lietuvius, 
	gyvenančius 41-oje užsienio šalyje.</p>

<h2>Veikla</h2>

<p>
	JAV LB jau daugiau kaip 60 metų jungia lietuvius ir jų šeimas, gyvenančias 
	JAV. Bendruomenė turi organizuotą struktūrą ir įgyvendina platų spektrą 
	veiklų:
</p> 
<ul>
	<li>
		organizuoja švietimo, kultūrinę, religinę, visuomeninę, socialinę ir 
		kitokią veiklą,
	</li>
	<li>
		dirba kartu su visais lietuvių sambūriais,
	</li>
	<li>
		informuoja ne lietuvius apie Lietuvos įvykius ir lietuvišką veiklą,
	</li>
	<li>
		rūpinasi žmogaus ir pilietinių teisių apsauga,
	</li>
	<li>
		aktyviai remia demokratijos bei ekonominių reformų vystymąsi Lietuvoje,
	</li>
	<li>
		palaiko ryšius su lietuviais už JAV ribų.
	</li>
</ul>

<p>
	Visi, įsijungę į JAV LB veiklą ir apsiėmę eiti tam tikras pareigas, 
	organizacijoje dirba savanoriškais pagrindais.
</p>

<h2>Misija ir veikos principai</h2>

<p>
	LB misija yra jungti visus lietuvius, gyvenančius JAV, ir per savo veiklą 
	padėti jiems išlaikyti bei ugdyti lietuvių kalbą, kultūrą ir tradicijas.
</p>

<p>
	Vykdydama veiklą LB vadovaujasi Lietuvių Chartoje įvardintais principais, 
	kurios pagrindiniai yra šie:
</p>
<ul>
	<li>
		Tauta yra prigimtoji žmonių bendruomenė.
	</li>
	<li>
		Žmogus turi prigimtąją teisę laisvai išpažinti ir ugdyti savo tautybę.
	</li>
	<li>
		Kalba yra stipriausias tautinės bendruomenės ryšys.
	</li>
	<li>
		Šeima yra tautos gyvybė.
	</li>
	<li>
		Tautinė kultūra yra kelias į tarptautinį pripažinimą ir bendravimą.
	</li>
	<li>
		Valstybė yra aukščiausioji tautinės bendruomenės organizacija.
	</li>
	<li>
		Mokykla yra tautinės dvasios židinys.
	</li>
	<li>
		Draugija yra tautinės kultūros veiksminga talkininkė.
	</li>
	<li>
		Mūsų tėvų kovos ir aukos dėl lietuviškos knygos yra testamentinis 
		įpareigojimas visoms lietuvių tautos kartoms.
	</li>
	<li>
		Tautos istorija yra geriausia tautos mokytoja.
	</li>
	<li>
		Tautinis solidarumas yra aukščiausioji tautinė dorybė.
	</li>
	<li>
		Lietuvio tautinės spalvos: geltona-žalia-raudona.
	</li>
	<li>
		Lietuvio tautinė šventė – Vasario 16-oji diena.
	</li>
	<li>
		Lietuvio šūkis: "Lietuviais esame mes gimę, lietuviais turime ir būt!"
	</li>
	<li>
		Lietuvis yra lojalus savo gyvenamajam kraštui.
	</li>
</ul>

<h2>Struktūra</h2>

<p>
	JAV lietuviai pagal gyvenamąją vietą suskirstyti į 10 apygardų – tai 
	rajonai, apimantys vieną ar kelias JAV valstijas, kurių teritorijose veikia 
	lietuvių apylinkės. Pavyzdžiui, Niujorko apygardai priklauso 4 apylinkės: 
	New York miesto, Long Island, Rytinio Long Island ir Rochester. Šiuo metu 
	visose JAV LB apygardose veikia 58 apylinkės, įsikūrusios 27 valstijose ir 
	sostinėje Vašingtone.
</p>

<p>
	LB Taryba yra aukščiausioji Lietuvių Bendruomenės valdymo institucija, 
	kurią sudaro apygardose išrinkti atstovai ir apygardų pirmininkai. LB 
	Krašto Valdyba – aukščiausioji vykdančioji institucija. Jai vadovauja LB 
	Tarybos išrinktas pirmininkas bei veikia jo pasirinkta ir LB Tarybos 
	patvirtinta komanda.
</p> 

<p>Daugiau apie JAV LB skaitykite <a 
	title='Vadovėlis "Kas yra JAV Lietuvių Bendruomenė?"' 
	href="{{ STATIC_URL }}files/jav_lb_vadovelis.pdf">vadovėlyje "Kas yra JAV 
	LB?"</a>, <a title="JAV LB įstatai ir taisyklės" 
	href="{{ STATIC_URL }}files/jav_lb_istatai.pdf">JAV LB įstatuose ir 
	taisyklėse</a>.
</p>

<p style="text-align: center;">
	<img alt="JAV LB struktūra" title="JAV LB struktūra" 
	src="{{ STATIC_URL }}images/jav_lb_struktura.jpg" />
</p> 

{% endblock %}


