{% extends 'flatpages/about_us.html' %}

{% block title%}Apie Niujorko apygardą{% endblock %}

{% block content %}
<h1>JAV LB Niujorko apygarda</h1>

<p>
	Niujorko apygarda, JAV Lietuvių Bendruomenės (JAV LB) administracinis 
	vienetas, atstovaujantis Niujorko valstijoje veikiančioms apylinkėms – 
	smulkesniems bendruomenės administraciniams vienetams. Šiuo metu Niujorko 
	valstijoje veikia 4 apylinkės:
</p> 
<ul>
    <li><a title="" href="/apie-mus/new-york-miesto-apylinke">New York miesto apylinkė</a></li>
    <li><a title="" href="/apie-mus/long-island-apylinke">Long Island apylinkė</a></li>
    <li><a title="" href="/apie-mus/rytinio-long-island-apylinke">Rytinio Long Island apylinkė</a></li>
    <li><a title="" href="/apie-mus/rochester-apylinke">Rochester apylinkė</a></li>	
</ul>
<p>	
	Apygarda taip pat atstovauja lietuviams ir jų šeimoms, gyvenančioms 
	Niujorko valstijos vietovėse, kur apylinkės nėra įsteigtos.
</p>

<p>
	Niujorko apygarda atsakinga už apylinkių veiklos koordinavimą, bendrų, visos 
	apygardos mastu aktualių klausimų sprendimą ir Niujorko Lietuvių 
	Bendruomenės interesų atstovavimą Niujorko valstijos mastu bei ryšiuose su 
	Lietuva. Ji taip pat įgyvendina atskirus projektus, kurių nepadengia 
	apylinkių veikla. Pavyzdžiui, ši interneto svetainė yra vienas iš Niujorko 
	apygardos įgyvendinamų projektų.
</p>

<p>
	Niujorko apygardos vykdomoji valdžia – valdyba. Ji renkama trejiems metams 
	apygardos metinio suvažiavimo metu. Apie tai apygardos valdyba bendruomenės 
	narius informuoja šios interneto svetainės renginių sąraše bent 10 dienų 
	prieš suvažiavimą. Artimiausi apygardos valdybos rinkimai vyks 2015 metais. 
</p>

<p>
	Apygardos valdybą sudaro pirmininkas, sekretorius, iždininkas ir kiti 
	nariai, tačiau įvairių apygardos projektų įgyvendinimui pagal poreikį 
	įsteigiamos ir kitos pareigybės. Apygardoje taip pat veikia savanorių 
	komanda, į kurią įsijungti galima bet kuriuo metu. Apie tai, kaip gali 
	tapti apygardos valdybos nariu arba savanoriu, skaityk skiltyje 
	„<a title="Dalyvauk veikloje!" alt="Dalyvauk veikloje!" href="/apie-mus/prisijunk">Dalyvauk veikloje!</a>“
</p>

<p>Šiuo metu JAV LB Niujorko apygardos valdybos nariai yra:</p>

<ul>
    <li><a title="Algirdas Grybas" href="mailto:agrybas@nylithuanian.org">Algirdas Grybas</a> (pirmininkas)</li>
    <li><a title="Angelė Miknius" href="mailto:amiknius@nylithuanian.org">Angelė Miknius</a> (iždininkė)</li>
    <li><a title="Rasa Sprindys" href="mailto:rsprindys@nylithuanian.org">Rasa Sprindys</a> (New York miesto apylinkės kopirmininkė)</li>
    <li><a title="Laurynas Vismanas" href="mailto:lvismanas@nylithuanian.org">Laurynas Vismanas</a> (New York miesto apylinkės kopirmininkas)</li>
    <li><a title="Rasa Mitrulevičienė" href="mailto:rmitruleviciene@nylithuanian.org">Rasa Mitrulevičienė</a> (Rytinio Long Island apylinkės pirmininkė)</li>
    <li><a title="Skirmantė Juodeikytė-Philippone" href="mailto:sphilippone@nylithuanian.org">Skirmantė Juodeikytė-Philippone</a> (Rochester apylinkės pirmininkė)</li>
    <li><a title="Ramutė Žukaitė" href="mailto:ramutezukas@hotmail.com">Ramutė Žukaitė</a> (Long Island apylinkės pirmininkė)</li>
    <li><a title="Vytautas Goštautas" href="mailto:vgostautas@nylithuanian.org">Vytautas Goštautas</a></li>
    <li><a title="Justas Čereška" href="mailto:jcereska@nylithuanian.org">Justas Čereška</a></li>	
</ul>

<p>Laima Šileikytė-Hood dalyvauja apygardos posėdžiuose patarėjos teisėmis.</p>

<p>Su Niujorko apygarda galite susisiekti, rašydami laiškus adresu 
	<a href="mailto:apygarda@nylithuanian.org">apygarda@nylithuanian.org</a>.</p>


{% endblock %}