{% extends 'flatpages/about_us.html' %}

{% block title%}Apie Niujorko apygardą{% endblock %}

{% block content %}
<h1>JAV LB Niujorko apygarda</h1>

<p>JAV LB Niujorko apygardos valdybos nariai:</p>

<ul>
    <li>Algirdas Grybas (pirmininkas)</li>
    <li>Angelė Miknius (iždininkė)</li>
    <li>Indrė Stonkutė (sekretorė)</li>
    <li>Rasa Sprindys (New York miesto apylinkės kopirmininkė)</li>
    <li>Laurynas Vismanas (New York miesto apylinkės kopirmininkas)</li>
    <li>Rasa Mitrulevičienė (Rytinio Long Island apylinkės pirmininkė)</li>
    <li>Dainius Jasinevičius (Rochester apylinkės pirmininkas)</li>
    <li>Ramutė Žukaitė (Long Island apylinkės pirmininkė)</li>
    <li>Vytautas Goštautas</li>
    <li>Justas Čereška</li>
    <li>Laimas Fergizas</li>
    <li>Daiva Šarienė</li>	
</ul>

<p>Laima Šileikytė-Hood dalyvauja apygardos posėdžiuose patarėjos teisėmis.</p>

<p>Su Niujorko apygarda galite susisiekti, rašydami laiškus adresu <a href="mailto:apygarda@nylithuanian.org">apygarda@nylithuanian.org</a>.</p>

<p>Niujorko apygardą sudaro keturios apylinkės:</p>
<ul>
    <li><a title="" href="/apie-mus/new-york-miesto-apylinke">New York miesto apylinkė</a></li>
    <li><a title="" href="/apie-mus/long-island-apylinke">Long Island apylinkė</a></li>
    <li><a title="" href="/apie-mus/rytinio-long-island-apylinke">Rytinio Long Island apylinkė</a></li>
    <li><a title="" href="/apie-mus/rochester-apylinke">Rochester apylinkė</a></li>	
</ul>
{% endblock %}