{% extends 'flatpages/about_us.html' %}

{% block title%}Apie Niujorko apygardą{% endblock %}

{% block content %}
<h1>JAV LB Niujorko apygarda</h1>

<p>JAV LB Niujorko apygardos valdybos nariai:</p>

<ul>
    <li><a title="Algirdas Grybas" href="mailto:agrybas@nylithuanian.org">Algirdas Grybas</a> (pirmininkas)</li>
    <li><a title="Angelė Miknius" href="mailto:amiknius@nylithuanian.org">Angelė Miknius</a> (iždininkė)</li>
    <li><a title="Rasa Sprindys" href="mailto:rsprindys@nylithuanian.org">Rasa Sprindys</a> (New York miesto apylinkės kopirmininkė)</li>
    <li><a title="Laurynas Vismanas" href="mailto:lvismanas@nylithuanian.org">Laurynas Vismanas</a> (New York miesto apylinkės kopirmininkas)</li>
    <li><a title="Rasa Mitrulevičienė" href="mailto:rmitruleviciene@nylithuanian.org">Rasa Mitrulevičienė</a> (Rytinio Long Island apylinkės pirmininkė)</li>
    <li><a title="Skirmantė Juodeikytė-Philippone" href="mailto:sphilippone@nylithuanian.org">Skirmantė Juodeikytė-Philippone</a> (Rochester apylinkės pirmininkė)</li>
    <li><a title="Ramutė Žukaitė" href="mailto:ramutezukas@hotmail.com">Ramutė Žukaitė</a> (Long Island apylinkės pirmininkė)</li>
    <li><a title="Vytautas Goštautas" href="mailto:vgostautas@nylithuanian.org">Vytautas Goštautas</a></li>
    <li><a title="Justas Čereška" href="mailto:jcereska@nylithuanian.org">Justas Čereška</a></li>
    <li><a title="Laimas Fergizas" href="mailto:lfergizas@nylithuanian.org">Laimas Fergizas</a></li>	
</ul>

<p>Laima Šileikytė-Hood dalyvauja apygardos posėdžiuose patarėjos teisėmis.</p>

<p>Su Niujorko apygarda galite susisiekti, rašydami laiškus adresu <a href="mailto:apygarda@nylithuanian.org">apygarda@nylithuanian.org</a>.</p>

<p>Niujorko apygardą sudaro keturios apylinkės:</p>
<ul>
    <li><a title="" href="/apie-mus/new-york-miesto-apylinke">New York miesto apylinkė</a></li>
    <li><a title="" href="/apie-mus/long-island-apylinke">Long Island apylinkė</a></li>
    <li><a title="" href="/apie-mus/rytinio-long-island-apylinke">Rytinio Long Island apylinkė</a></li>
    <li><a title="" href="/apie-mus/rochester-apylinke">Rochester apylinkė</a></li>	
</ul>
{% endblock %}