{% extends 'flatpages/about_us.html' %}

{% block title%}Apie Long Island apylinkę{% endblock %}

{% block content %}
<h1>JAV LB Long Island apylinkė</h1>

<p>2013 m. gegužės 25 d. įvykusio Long Island apylinkės metinio susirinkimo metu į valdybą buvo išrinkti 8 asmenys:</p>
<ul>
    <li><a title="Ramutė Žukaitė" href="mailto:ramutezukas@hotmail.com">Ramutė Žukaitė</a> (pirmininkė)</li>
    <li>Jurgita Maciūnaitė (sekretorė)</li>
    <li>Dovilė Klimavičienė (iždininkė)</li>
    <li>Nida Angeleadis</li>
    <li>Danguolė Pašytė</li>
    <li>Asta Barkauskienė</li>
    <li>Asta Guobienė</li>
    <li>Stefanija Gudaitytė</li>	
</ul>

{% endblock %}
