{% extends 'flatpages/redakcija.html' %}

{% block title%}Apie mus{% endblock %}

{% block content %}
<h1>Informacijos skelbimo nuostatos</h1>

<ol>
	<li>
		www.nylithuanian.org (toliau – <strong>svetainė</strong>) suteikia vartotojams 
		(toliau – <strong>autorius/autoriai</strong>) teisę skelbti jų sukurtą medžiagą šios 
		interneto svetainės rubrikose, kuriose yra informacijos skelbimo 
		funkcija.
	</li>
	<li>
		Skelbiamos informacijos autorius perduoda medžiagą 
		svetainei, naudodamasis informacijos skelbimo svetainėje 
		funkcija arba atsiųsdamas medžiagą elektroninio pašto adresu 
		<a title="info@nylithuanian.org" 
		href="mailto:info@nylithuanian.org">info@nylithuanian.org</a>.
	</li>
	<li>
		Užsiregistravęs svetainėje ir pažymėjęs, kad susipažino ir sutinka su 
		Informacijos skelbimo nuostatomis, arba atsiųsdamas šios svetainės 
		redakcijai medžiagą, kaip aprašyta šių nuostatų 2 punkte, autorius 
		patvirtina, kad su nuostatomis susipažino, jas suprato ir įsipareigoja 
		vykdyti.
	</li>
	<li>
		Perduodamas medžiagą svetainės redakcijai, autorius sutinka, kad, prieš 
		ją paskelbiant, svetainės redakcija medžiagą peržiūrėtų, prireikus ją 
		koreguotų, papildytų arba atmestų, jei medžiaga neatitinka reikalavimų, 
		aprašytų 6 punkte.
	</li>
	<li>
		Autorius turi teisę keisti, pildyti, koreguoti svetainės redakcijos 
		atmestą medžiagą ir siųsti dar kartą publikuoti portale.
	</li>
	<li>
		<strong>Reikalavimai medžiagai:</strong>
		<ol>
			<li>
				Autorius patvirtina, kad:
				<ol>
					<li>
						medžiaga – jo intelektinės kūrybos rezultatas;
					</li>
					<li>
						jis neperdavė trečiajai šaliai nuosavybės teisių į 
						medžiagą ar licencijos naudotis autoriaus asmeninėmis 
						ar nuosavybės teisėmis;
					</li>
					<li>
						jis patikrino visus medžiagoje pateiktus faktus, ir 
						medžiagoje nėra neteisingų ar klaidingų duomenų;
					</li>
					<li>
						naudodamas savo medžiagoje kitų asmenų medžiagą, 
						autorius nurodo atitinkamos medžiagos autoriaus vardą 
						ir pavardę, jos pavadinimą ir šaltinį.
					</li>
				</ol>
			</li>
			<li>
				Jei nuostatų 6.1 punkte nurodytas patvirtinimas pasirodys 
				melagingas, autorius įsipareigoja atlyginti 
				svetainei visus nuostolius (taip pat ir išlaidas 
				teisinei pagalbai), kylančius tretiesiems asmenims 
				pateikus reikalavimus svetainei ir/arba vykdant 
				šiuos reikalavimus.
			</li>
			<li>
				Svetainė nepublikuoja medžiagų, kurios neatitinka 
				nuostatose nurodytų reikalavimų, taip pat jeigu:
				<ol>
					<li>
						medžiaga yra vulgari, įžeidžianti, skatinanti 
						nesantaiką, kviečianti imtis neteisėtos veiklos ir kita;
					</li>
					<li>
						medžiagoje yra reklamos;
					</li>
					<li>
						svetainės redakcija turi pagrindo manyti, kad atsiuntęs 
						medžiagą asmuo nėra jos autorius;
					</li>
					<li>
						dėl kitos priežasties, svetainei remiantis 
						savo nuožiūra.
					</li>
				</ol>
			</li>
			<li>
				Svetainė neįsipareigoja autoriui pagrįsti 
				atsisakymo publikuoti medžiagą (taip pat ir pakeistą, papildytą, 
				ir/arba pakoreguotą medžiagą pagal 5 punktą).
			</li>
			<li>
				Rekomenduojama, kad rašytinės medžiagos apimtis būtų 1000 – 1500 
				spaudos ženklų su tarpais, o nuotraukų raiška – ne mažesnė nei 
				800 x 800 pikselių.
			</li>
			<li>
				Rašytinė medžiaga turi būti parašyta lietuviškais rašmenimis, 
				taisyklingai ir suprantamai.
			</li>
		</ol>
	</li>
	<li>
		<strong>Autoriaus teisės į medžiagą:</strong>
		<ol>
			<li>
				Nuo medžiagos perdavimo svetainei, autorius suteikia 
				svetainei teisę savo nuožiūra įgyvendinti visas 
				autorių teises į medžiagą (taip pat ir platinti, versti, 
				apdoroti, atvirai pateikti, eksponuoti, perduoti medžiagą bei 
				daryti jos kopijas, įtraukti medžiagą į rinkinius) iki 
				autoriaus teisių galiojimo pabaigos visame pasaulyje;
			</li>
			<li>
				Kaip nurodyta 7.1 punkte, iki autoriaus teisių galiojimo 
				pabaigos visame pasaulyje svetainė turi teisę savo 
				nuožiūra keisti medžiagą, taip pat ją pildyti ir taisyti;
			</li>
			<li>
				išpublikavus svetainėje medžiagą, autoriaus 
				vardas ir pavardė nurodomi taip, kaip nurodė autorius, 
				užsiregistruodamas svetainėje. Jei autorius atsiunčia medžiagą 
				elektroniniu paštu, autoriaus vardas ir pavardė nurodomi taip, 
				kaip jis pats nurodė medžiagoje arba atitinkamame 
				elektroniniame laiške.
			</li>
		</ol>
	</li>
	<li>
		<strong>Atlyginimas už medžiagos publikavimą ir autoriaus teisės:</strong>
		<ol>
			<li>
				Svetainė nemoka autoriams už medžiagos publikavimą 
				ir už autoriaus teises, nurodytas 7 punkte.
			</li>
		</ol>
	</li>
</ol>

{% endblock %}