{% extends 'flatpages/about_us.html' %}

{% block title%}Apie New York miesto apylinkę{% endblock %}

{% block content %}
<h1>JAV LB New York miesto apylinkė</h1>

<p>2013 m. birželio 10 d. pirmąjį susirinkimą turėjo New York miesto apylinkė. Anksčiau New York mieste veikė dvi apylinkės: Manhattan - Staten Island - The Bronx ir Brooklyn - Queens. Naujosios apylinkės valdybos nariai:</p>
<ul>
    <li>Laurynas Vismanas (kopirmininkas)</li>
    <li>Rasa Sprindys (kopirmininkė)</li>
    <li>Vida Jankauskienė (vicepirmininkė)</li>
    <li>Gelmina Židelytė (sekretorė)</li>
    <li>Laima Šileikytė-Hood (iždininkė)</li>
    <li>Arūnas Tirkšliūnas (atstovas spaudai)</li>
    <li>Raimundas Šližys</li>
    <li>Gintarė Bukauskienė</li>
    <li>Jonas Jankauskas (atstovas sporto reikalams)</li>	
</ul>

<p>Su Niujorko miesto apylinkės valdyba galite susisiekti, rašydami laiškus adresu <a href="mailto:nyc@nylithuanian.org">nyc@nylithuanian.org</a>.</p>

{% endblock %}
