{% extends 'flatpages/about_us.html' %}

{% load static %}

{% block title%}Parama Bendruomenei{% endblock %}

{% block content %}
<h1>Parama Bendruomenei</h1>
	<p>
	Kiekvienas bendruomenei paaukotas doleris – tai investicija į
	teigiamas permainas ir turiningesnį bendruomenės gyvenimą, kurio
	privalumus galėsi pajusti pats (-i) asmeniškai. Nuo tavo visokeriopos
	paramos priklauso itin daug – lituanistinių mokyklų, sporto klubų
	veikla, kultūrinių ir švietėjiškų renginių gausa ir kokybė, bendruomenės 
	informacinių šaltinių plėtra.
	Kiekviena auka, kad ir labai nedidelė, yra daugiau nei materialinė
	pagalba, bet ir didžiulė moralinė parama visuomeniniais pagrindais
	bendruomenės labui dirbantiems organizacijos nariams.
	</p>

	<h2>Parama apygardai</h2>
	<p>
	Apygardos veiklos spektras labai platus: ji plėtoja ir administruoja
	vienintelę Lietuvių Bendruomenės interneto svetainę Niujorko
	valstijoje, kaupia bendruomenės veiklos archyvą, atstovauja
	Niujorko valstijos lietuviams palaikydama ryšius su išorinėmis
	organizacijomis ir Niujorko miesto bei valstijos valdžios
	atstovais. Kiekvieną savaitę apygarda informuoja daugiau nei
	tūkstantį Niujorko lietuvių apie Bendruomenės veiklą. Tai - pats
	didžiausias informacijos apie lietuvius ir jų veiklą Niujorko
	valstijoje šaltinis.
	</p>
	<p>
	Apygardą gali paremti:
	</p>
	<ul>
	<li>
	<a title="Vienkartinis pavedimas"
	href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=info@nylithuanian.org&item_name=Parama JAV LB Niujorko apygardai&item_number=Niujorko apygarda&currency_code=USD&image_url={{ SITE_URL }}{% static "images/logo_paypal.png" %}">Vienkartiniu mokėjimų pavedimu</a> į apygardos PayPal sąskaitą
	</li>
	<li>
	Reguliariais mokėjimų pavedimais į apygardos PayPal sąskaitą:
	<ul>
	<li>
	<a title="Reguliarūs pavedimai"
	href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick-subscriptions&business=info@nylithuanian.org&src=1&p3=1&t3=M&a3=25&srt=12&item_name=Parama JAV LB Niujorko apygardai&item_number=Niujorko apygarda&currency_code=USD&image_url={{ SITE_URL }}{% static "images/logo_paypal.png" %}">12 mėnesinių mokėjimų, po $25.00 kas mėnesį</a>
	</li>
	<li>
	<a title="Reguliarūs pavedimai"
	href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick-subscriptions&business=info@nylithuanian.org&src=1&p3=1&t3=M&a3=50&srt=12&item_name=Parama JAV LB Niujorko apygardai&item_number=Niujorko apygarda&currency_code=USD&image_url={{ SITE_URL }}{% static "images/logo_paypal.png" %}">12 mėnesinių mokėjimų, po $50.00 kas mėnesį</a>
	</li>
	<li>
	<a title="Reguliarūs pavedimai"
	href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick-subscriptions&business=info@nylithuanian.org&src=1&p3=1&t3=M&a3=100&srt=12&item_name=Parama JAV LB Niujorko apygardai&item_number=Niujorko apygarda&currency_code=USD&image_url={{ SITE_URL }}{% static "images/logo_paypal.png" %}">12 mėnesinių mokėjimų, po $100.00 kas mėnesį</a>
	</li>
	</ul>
	</li>
	<li>
	<p>
	Išrašydamas (-a) čekį, kuriame nurodyta „LAC NY District“, ir
	išsiųsdamas (-a) adresu
	</p>
	<p>
	Lithuanian-American Community, Inc.
	<br />
	c/o Angele Miknius
	<br />
	10 W 15th Street Apt 1208
	<br />
	New York, NY 10011
	</p>
	</li>
	</ul>

	<h2>Parama apylinkėms</h2>
	<p>
	Apylinkės rengia kultūrinius, sporto bei švietimo renginius, svarbių
	istorinių ir religinių datų minėjimus. Tai - kertinė veikla,
	vienijanti, stiprinanti Niujorko lietuvių bendruomenę, padedanti išlaikyti
	lietuvybę bei ryšį su Lietuva. Nors apylinkės dažnai
	bendradarbiauja organizuodamos renginius, kiekviena turi atskirą
	biudžetą ir priima paramą iš tai apylinkei priklausančių
	bendruomenės narių (<a href="/apie-mus/prisijunk/">kaip tapti apylinkės nariu?</a>).
	</p>
	<p>
	Apylinkes gali paremti:
	</p>
	<ul>
	<li>
	Sumokėdamas (-a) metinį solidarumo įnašą (išsami informacija
	pateikta tavo apylinkės skiltyje)
	</li>
	<li>
	Išrašydamas (-a) čekį tavo apylinkės iždininkui (išsami informacija
	pateikta tavo apylinkės skiltyje)
	</li>
	<li>
	Dalyvaudamas (-a) renginiuose ir sumokėdamas (-a) savanorišką įėjimo
	auką
	</li>
	</ul>
	<p>
	JAV Lietuvių Bendruomenė yra ne pelno siekianti organizacija,
	atleista nuo mokesčių (turi IRS 501(c)(3) statusą). Visos aukos,
	skirtos JAV Lietuvių Bendruomenei, jai priklausančioms apygardoms
	ir apylinkėms gali būti nurašytos nuo mokesčių. JAV Lietuvių
	Bendruomenė kiekvienam paaukojusiam metų pabaigoje paštu išsiunčia
	gautas aukas patvirtinantį dokumentą.
	</p>

	<h2>Reklama svetainėje</h2>
	<p>
	Svetainėje nuomojame reklaminius plotus. Daugiau informacijos teiraukitės 
	el. paštu <a
	href="mailto:info@nylithuanian.org">info@nylithuanian.org</a>.
	</p>
{% endblock %}