{% extends 'flatpages/redakcija.html' %}

{% block title%}Apie mus{% endblock %}

{% block content %}
<h1>Pranešk!</h1>

<p>
	Turi informacijos apie lietuvišką renginį? Nori įkelti nuotraukas ar 
	paskelbti bendruomenei aktualią naujieną? O gal tiesiog išreikšti nuomonę 
	arba pasidalinti savo istorija? Visa tai gali padaryti savarankiškai šioje 
	svetainėje! Tau tereikia joje <a title="Registruotis" 
	href="/nariai/registruotis/">užsiregistruoti</a> ir laikytis 
	<a title="Informacijos skelbimo nuostatos" href="/apie-mus/nuostatos/">
		informacijos skelbimo nuostatų</a>.
</p>
<p>
	Svetainėje gali skelbti:
</p>
<ul>
	<li>
		savo parašytus <a title="Pateikti straipsnį" 
		href="/straipsniai/pateikti/">straipsnius</a>,		
	</li>
	<li>
		<a title="Įkelti nuotrauką" href="/nuotraukos/photo/pateikti/">
			nuotraukas</a> iš renginių ar įvykių,		
	</li>
	<li>
		<a title="Pateikti pranešimą" href="/pranesimai/pateikti/">naujienas/pranešimus</a>,		
	</li>
	<li>
		<a title="Pateikti skelbimą" href="/skelbimai/pateikti/">skelbimus</a> 
		ir komentarus,
	</li>
</ul>
<p>
	arba siųsti medžiagą elektroniniu paštu <a title="info@nylithuanian.org" 
	href="mailto:info@nylithuanian.org">info@nylithuanian.org</a>.
</p>
<p>
	Savo mintimis, naujienomis ir vaizdais dalinkis su beveik 20000 unikalių 
	svetainės lankytojų ir daugiau nei 1000 jos naujienlaiškio skaitytojų.	
</p>

{% endblock %}


