{% extends 'flatpages/about_us.html' %}

{% block title%}Apie mus{% endblock %}

{% block javascript %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script>
	$(function() {
		$("#accordion").accordion({
			header : 'h2',
			heightStyle : 'content',
			collapsible : true,
			active : false,
		});
	}); 
</script>
{% endblock %}

{% block content %}
<h1>Prisijunk!</h1>

<p>
	Niujorko lietuvių bendruomenės nariais yra laikomi visi tautiečiai, ne tik
	dalyvaujantieji organizacijos veikloje. Tačiau, jei nori aktyviau įsilieti
	į bendruomenės gyvenimą  – bendrauti, dalyvauti, spręsti, padėti ar tiesiog
	turiningai praleisti laiką bendraminčių rate, yra keletas būdų tą padaryti.
	Rinkis tau priimtiniausią – vieną, kelis arba visus:
</p>

<div id="accordion">
	<h2>Bendrauk internete</h2>
	<div>
		<p>
			Sek informaciją apie naujausius renginius, bendruomenės naujienas,
			skaityk straipsnius, komentuok ir siūlyk idėjas mūsų svetainėje.
			Taip pat mus gali surasti <a title="Facebook"
			href="https://www.facebook.com/nylithuanian">Facebook</a>, <a title="Twitter" href="https://twitter.com/nylithuanian"> Twitter</a> ar <a title="YouTube"
			href="https://www.youtube.com/user/nylithuanian">YouTube</a>.
		</p>
	</div>

	<h2>Tapk oficialiu nariu</h2>
	<div>
		<p>
			Pranešk apie save užpildydama(s) <a title="Registracijos forma"
			href="/nariai/registruotis/">registracijos formą</a> mūsų
			svetainėje. Tai užtruks vos keletą minučių ir tu –  jau oficialių
			bendruomenės narių gretose. Tokiu būdu ne tik gausi periodinį
			naujienlaiškį su naujausia informacija apie renginius, naujienas ir
			skelbimus, bet svarbiausia – teisę priimti sprendimus, tai yra
			balsuoti savo apylinkės metiniuose susirinkimuose.
		</p>
	</div>

	<h2>Dalyvauk organizacijos veikloje</h2>
	<div>
		<p>
			Jei esi veiklus, tavo galva – dūzgiantis idėjų avilys, nori daryti
			teigiamą pokytį bendruomenės gyvenime, tau yra ne viena galimybė
			save realizuoti.
		</p>
		<h3>Tapk apygardos savanoriu</h3>
		<p>
			Šis būdas tinkamiausias, jei nori tiesiog veikti ir nebūti
			įrėminta(s) organizacinės struktūros, posėdžių ir
			darbotvarkių. Taip pat, jei mąstai apie visuomeninę veiklą,
			bet dar nesi pasiruošusi(-ęs) prisiimti didelės ilgalaikės
			atsakomybės. Apygardos savanorių komanda tavęs laukia –
			čia rasi energingus, profesionalius, draugiškus lietuvius,
			kurie mielai priims tave į būrį. Parašyk mums į
			<a href="mailto:info@nylithuanian.org"> info@nylithuanian.org</a>!
		</p>

		<h3>Tapk apygardos valdybos nariu</h3>
		<p>
			JAV LB apygardos valdyba renkama trejiems metams - apygardos
			valdybos kadencija sutampa su JAV LB Tarybos kadencija. Artimiausi
			apygardos valdybos rinkimai vyks 2015 m. Rinkimai vyksta apygardos
			metinio suvažiavimo metu, kuris rengiamas sausio – birželio
			mėnesiais, apie tai apygardos valdyba informuoja
			Bendruomenės narius šios interneto svetainės renginių sąraše bent
			10 dienų prieš suvažiavimą.
		</p>
		<p>
			Apygardos valdyboje veikia pirmininkas, sekretorius ir iždininkas,
			dažnai - ir apygardos atstovaujamų
			apylinkių pirmininkai. Specifinei veiklai vykdyti apygarda gali
			įsteigti kitas pareigas. Pavyzdžiui, kadangi Niujoko apygarda
			vysto ir prižiūri visą šios interneto svetainės turinį, keli
			jos valdybos nariai yra
			atsakingi už viešuosius ryšius, oficialios informacijos bei turinio
			kaupimą ir administravimą.
		</p>
		<p>
			Kandidatuoti į apygardos valdybą gali bet kuris lietuvis,
			suvažiavimo dieną registruotas bent vienoje apylinkėje, kurią
			atstovauja Niujorko apygarda. Pagal 2013 m. Niujorko apygardos
			suvažiavime priimtą nutarimą, apylinkių pirmininkai negali užimti
			vadovaujančių postų apygardos valdyboje (bet gali būti reguliariais
			valdybos nariais).
		</p>
		<p>
			Daugiau informacijos apie rinkimus bei apygardos valdybos veiklą
			gali rasti skiltyje <a
			title="Apie mus" href="/apie-mus/">„Apie mus“</a>, vadovėlyje <a
			title="Kas yra JAV Lietuvių Bendruomenė?"
			href="{{ STATIC_URL }}files/jav_lb_vadovelis.pdf">„Kas yra JAV
			Lietuvių Bendruomenė?“</a> ir <a
			title="JAV LB įstatai ir taisyklės"
			href="{{ STATIC_URL }}files/jav_lb_istatai.pdf">JAV LB
			įstatuose ir taisyklėse</a>.
		</p>

		<h3>Tapk apylinkės valdybos nariu</h3>
		<p>
			Rinkimai į JAV LB apylinkės valdybą vyksta apylinkės metinio
			susirinkimo metu. Apylinkių metiniai susirinkimai šaukiami
			sausio – kovo mėnesiais, apie tai apylinkės informuoja
			Bendruomenės narius šios interneto svetainės renginių
			sąraše bent dvi savaites prieš susirinkimą. Apylinkės
			valdyba kasmet gali rinkti pusę arba visus valdybos
			narius.
		</p>
		<p>
			Valdybą paprastai sudaro pirmininkas, vicepirmininkas,
			sekretorius, iždininkas ir kiti valdybos nariai.
			Atsižvelgiant į apylinkės veiklos pobūdį, valdyboje taip
			pat gali veikti švietimo vadovas, atstovai spaudai, sporto
			reikalams, kultūrai ir pan.
		</p>
		<p>
			Norėdama(s) kandidatuoti į apylinkės valdybą, turi būti registruotas
			toje apylinkėje ir dalyvauti apylinkės metiniame susirinkime.
			Asmuo registruojamas apylinkėje, jei:
		</p>
		<ul>
			<li>
				raštu arba žodžiu pareiškė priklausomybę JAV Lietuvių Bendruomenei arba
			</li>
			<li>
				bent kartą sumokėjo solidarumo įnašą, arba
			</li>
			<li>
				bent kartą balsavo JAV LB Tarybos rinkimuose toje apylinkėje, arba
			</li>
			<li>
				užsiregistravo JAV LB Tarybos rinkimų metu rinkiminėje komisijoje.
			</li>
		</ul>
		<p>
			Daugiau informacijos apie rinkimus bei apylinkės valdybos veiklą
			gali rasti skiltyje <a
			title="Apie mus" href="/apie-mus/">„Apie mus“</a>, vadovėlyje <a
			title="Kas yra JAV Lietuvių Bendruomenė?"
			href="{{ STATIC_URL }}files/jav_lb_vadovelis.pdf">„Kas yra JAV
			Lietuvių Bendruomenė?“</a> ir <a
			title="JAV LB įstatai ir taisyklės"
			href="{{ STATIC_URL }}files/jav_lb_istatai.pdf">JAV LB
			įstatuose ir taisyklėse</a>.
		</p>

		<h3>Tapk apygardos ar apylinkės kontrolės komisijos nariu</h3>
		<p>
			Rinkimų į apylinkės ir apygardos valdybas metu taip pat renkama
			trijų asmenų kontrolės komisija, kuri bent kartą per metus tikrina
			apylinkės/apygardos turtą, išlaidų teisėtumą bei metinių
			susirinkimų nutarimų vykdymą. Apylinkės kontrolės komisija renkama
			dvejiems metams, apygardos – trejiems. Apylinkės ar apygardos
			valdybos nariai negali būti kontrolės komisijos nariais.
		</p>
		<p>
			Daugiau informacijos apie kontrolės komisijos veiklą gali rasti
			vadovėlyje <a
			title="Kas yra JAV Lietuvių Bendruomenė?"
			href="{{ STATIC_URL }}files/jav_lb_vadovelis.pdf">„Kas yra JAV
			Lietuvių Bendruomenė?“</a> ir <a
			title="JAV LB įstatai ir taisyklės"
			href="{{ STATIC_URL }}files/jav_lb_istatai.pdf">JAV LB
			įstatuose ir taisyklėse</a>.
		</p>
	</div>

	<h2>Paremk</h2>
	<div>
		<p>
			Kiekvienas bendruomenei paaukotas doleris – tai investicija į
			teigiamas permainas ir turiningesnį bendruomenės gyvenimą, kurio
			privalumus galėsi pajusti pats(-i) asmeniškai. Nuo tavo visokeriopos
			paramos priklauso itin daug – lituanistinių mokyklų, sporto klubų
			veikla, kultūrinių ir švietėjiškų renginių gausa ir kokybė.
			Kiekviena auka, kad ir labai nedidelė, yra daugiau nei materialinė
			pagalba, bet ir didžiulė moralinė parama visuomeniniais pagrindais
			bendruomenės labui dirbantiems organizacijos nariams.
		</p>

		<h3>Parama apygardai</h3>
		<p>
			Apygardos veiklos spektras labai platus: ji vysto ir administruoją
			vienintelę Lietuvių Bendruomenės interneto svetainę Niujorko
			valstijoje, kaupia bendruomenės veiklos archyvą, atstovauja
			Niujorko valstijos lietuvius bendraudama su išorinėmis
			organizacijomis ir Niujorko miesto bei valstijos valdžios
			atstovais. Kiekvieną savaitę apygarda informuoja daugiau nei
			tūkstantį Niujorko lietuvių apie Bendruomenės veiklą. Tai pats
			didžiausias informacijos apie lietuvių veiklą šaltinis Niujorko
			valstijoje.
		</p>
		<p>
			Apygardą gali paremti:
		</p>
		<ul>
			<li>
				vienkartiniu pavedimu į apygardos PayPal sąskaitą
			</li>
			<li>
				reguliariais pavedimais į apygardos PayPal sąskaitą
			</li>
			<li>
				<p>
					išrašydama(s) čekį su pastaba „LAC NY District“ ir
					išsiųsdama(s) adresu
				</p>
				<p>
					Lithuanian-American Community, Inc.
					<br />
					c/o Angele Miknius
					<br />
					10 W 15th Street Apt 1208
					<br />
					New York, NY 10011
				</p>
			</li>
		</ul>

		<h3>Parama apylinkėms</h3>
		<p>
			Apylinkės rengia kultūrinius, sporto bei švietimo renginius, svarbių
			istorinių ir religinių datų minėjimus. Tai - kertinė veikla,
			vienijanti, stiprinanti Niujorko bendruomenę, padedanti išlaikyti
			lietuvybę bei ryšį su Lietuva. Nors apylinkės dažnai
			bendradarbiauja organizuodamos renginius, kiekviena turi atskirą
			biudžetą ir priima paramą iš tai apylinkei priklausančių
			bendruomenės narių (kaip tapti apylinkės nariu?).
		</p>
		<p>
			Apylinkes gali paremti:
		</p>
		<ul>
			<li>
				sumokėdama(s) metinį solidarumo įnašą (išsami informacija
				pateikta tavo apylinkės skiltyje)
			</li>
			<li>
				išrašydamas čekį tavo apylinkės iždininkui (išsami informacija
				pateikta tavo apylinkės skiltyje)
			</li>
			<li>
				dalyvaudama(s) renginiuose ir sumokėdama(s) savanorišką įėjimo
				auką
			</li>
		</ul>
		<p>
			JAV Lietuvių Bendruomenė yra ne pelno siekianti organizacija,
			atleista nuo mokesčių (turi IRS 501(c)(3) statusą). Visos aukos,
			skirtos JAV Lietuvių Bendruomenei, jai priklausančioms apygardoms
			ir apylinkėms gali būti nurašytos nuo mokesčių. JAV Lietuvių
			Bendruomenė kiekvienam paaukojusiam metų pabaigoje paštu išsiunčia
			gautas aukas patvirtinantį dokumentą.
		</p>
		
		<h3>Reklama svetainėje</h3>
		<p>
			Svetainėje nuomojame reklaminius plotus. Dėl išsamesnės informacijos
			kreipkitės el. paštu <a
			href="mailto:info@nylithuanian.org">info@nylithuanian.org</a>.
		</p>
	</div>
</div>

{% endblock %}
