{% extends 'flatpages/about_us.html' %}

{% load static %}

{% block title%}Apie mus{% endblock %}

{% block javascript %}
<script type="text/javascript"
src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript"
src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script>
	$(function() {

		var defaultPanel = parseInt(getParam('panel'));

		$("#accordion").accordion({
			header : 'h2',
			heightStyle : 'content',
			collapsible : true,
			active : defaultPanel,
			animate: 'easeOutCubic'
		});

		function getParam(name) {
			var query = location.search.substring(1);
			if (query.length) {
				var parts = query.split('&');
				for (var i = 0; i < parts.length; i++) {
					var pos = parts[i].indexOf('=');
					if (parts[i].substring(0, pos) == name) {
						return parts[i].substring(pos + 1);
					}
				}
			}

			// Make 1st panel open when page having accordion is visited directly
			return false;

			// Make all panels collapsed when page having accordion is visited directly
			// return false;
		}

	}); 
</script>
{% endblock %}

{% block content %}
<h1>Prisijunk!</h1>

<p>
	Niujorko lietuvių bendruomenės nariais yra laikomi <em>visi</em> tautiečiai, ne tik
	dalyvaujantieji organizacijos veikloje. Tačiau, jei nori aktyviau įsilieti
	į bendruomenės gyvenimą  – bendrauti, dalyvauti, spręsti, padėti ar tiesiog
	turiningai praleisti laiką bendraminčių rate, yra keletas būdų tai padaryti.
	Rinkis tau tinkamiausius:
</p>

<div id="accordion">
	<h2>Tapk oficialiu Bendruomenės nariu (-e)</h2>
	<div>
		<p>
			Užpildyk <a title="Registracijos forma"
			href="/nariai/registruotis/">registracijos formą</a> šioje
			svetainėje. Tai užtruks vos
			keletą minučių, ir tu – jau oficialus(-i) Niujorko Lietuvių
			Bendruomenės narys (-ė), galintis (-i) naudotis ne tik narystės,
			bet ir šios svetainės teikiamais privalumais:
		</p>
		<ul>
			<li>
				<strong>visuomet būsi informuotas (-a)</strong> apie
				bendruomenės aktualijas –
				gausi periodinį naujienlaiškį su naujausia informacija apie
				renginius, naujienas ir skelbimus;
			</li>
			<li>
				<strong>galėsi skelbti informaciją</strong>:
				<ul>
					<li>
						nemokamai <a title="Pateikti skelbimus"
						href="/skelbimai/pateikti/">pateikti skelbimus</a>
						šios svetainės rubrikoje „Skelbimai“;
					</li>
					<li>
						tapti svetainės naujienų autoriumi (-e) –
						<a title="Pranešti apie renginį"
						href="/renginiai/pateikti/">pranešti</a> apie
						bendruomenei įdomius renginius, 
						<a title="Pateikti įžvalgas" 
						href="/straipsniai/pateikti/">pateikti savo
						įžvalgas</a>, komentuoti, <a title="Publikuoti nuotraukas" 
						href="/nuotraukos/photo/pateikti/">publikuoti 
						nuotraukas</a> ir vaizdo įrašus;
					</li>
				</ul>
			</li>
			<li>
				ir svarbiausia – <strong>turėsi teisę priimti sprendimus</strong>, tai yra
				balsuoti savo apylinkės metiniuose suvažiavimuose, kuriuose
				renkami apylinkės valdybos nariai, aptariami bei sprendžiami
				svarbiausi apylinkės klausimai (apie metinius
				susirinkimus apylinkės informuoja bendruomenės narius šios
				interneto svetainės <a title="Renginių sąrašas" 
				href="/renginiai/">renginių sąraše</a> bent dvi savaites prieš
				susirinkimą);
			</li>
			<li>
				<strong>kandidatuoti į</strong>:
				<ul>
					<li>
						<a title="Kandidatuoti į apylinkės valdybos narius" 
						href="?panel=1">apylinkės valdybos narius</a>
					</li>
					<li>
						<a title="Kandidatuoti į apygardos valdybos narius" 
						href="?panel=3">apygardos valdybos narius</a>
					</li>
					<li>
						<a title="Kandidatuoti į apylinkės kontrolės komisijos narius"
						href="?panel=4">apylinkės kontrolės komisijos narius</a>
					</li>
				</ul>
			</li>
		</ul>
		<p>
			Kad taptum oficialiu Niujorko Lietuvių Bendruomenės nariu (-e), 
			reikia tik:
		</p>
		<ul>
			<li>
				raštu arba žodžiu pareikšti norą priklausyti JAV Lietuvių
				Bendruomenei arba
			</li>
			<li>
				bent kartą sumokėti solidarumo įnašą, arba
			</li>
			<li>
				bent kartą balsuoti JAV LB Tarybos rinkimuose konkrečioje
				apylinkėje, arba
			</li>
			<li>
				užsiregistruoti JAV LB Tarybos rinkimų metu rinkiminėje
				komisijoje.
			</li>
		</ul>
	</div>

	<h2>Tapk apylinkės valdybos nariu (-e)</h2>
	<div>
		<p>
			Šią galimybę rinkis, jei nori daryti įtaką bei pokytį konkrečios
			apylinkės lietuvių bendruomenės gyvenime.
		</p>
		<p>
			Kandidatuoti į apylinkės valdybą gali, jei:
		</p>
		<ul>
			<li>
				esi <a title="Registruotis" 
				href="/nariai/registruotis/">užsiregistravęs</a> (-usi) toje 
				apylinkėje (apie tai daugiau skaityk „<a 
				title="Tapk oficialiu nariu" 
				href="?panel=0">Tapk oficialiu Bendruomenės nariu (-e)</a>“);
			</li>
			<li>
				tau yra 18 ir daugiau metų;
			</li>
			<li>
				esi perskaitęs (-čiusi) JAV Lietuvių Bendruomenės (JAV LB)
				<a title="JAV LB įstatai ir taisyklės" 
				href="{{ STATIC_URL }}files/jav_lb_istatai.pdf">įstatus ir 
				taisykles</a>;
			</li>
			<li>
				dalyvauji apylinkės metiniame susirinkime, kurio metu vyksta
				rinkimai.
			</li>
		</ul>
		<p>
			Rinkimai į JAV Lietuvių Bendruomenės (JAV LB) apylinkės valdybą
			vyksta apylinkės metinio susirinkimo metu. Apylinkių metiniai
			susirinkimai šaukiami sausio – kovo mėnesiais, apie tai apylinkės
			informuoja bendruomenės narius šios interneto svetainės 
			<a title="Renginių sąrašas" href="/renginiai/">renginių sąraše</a> 
			bent dvi savaites prieš susirinkimą. Apylinkės valdyba
			gali rinkti pusę valdybos narių kasmet arba visus valdybos
			narius kas dveji metai.
		</p>
		<p>
			Valdybą paprastai sudaro pirmininkas, vicepirmininkas, sekretorius,
			iždininkas ir kiti valdybos nariai. Atsižvelgiant į apylinkės
			veiklos pobūdį, valdyboje taip pat gali veikti švietimo vadovas,
			atstovai spaudai, sporto reikalams, kultūrai ir panašiai.
		</p>
		<p>
			Daugiau informacijos apie rinkimus bei apylinkės valdybos veiklą
			gali rasti skiltyje „<a title="Apie mus" 
			href="/apie-mus/">Apie mus</a>“, vadovėlyje „<a 
			title="Kas yra JAV Lietuvių Bendruomenė?" 
			href="{{ STATIC_URL }}files/jav_lb_vadovelis.pdf">Kas yra JAV 
			Lietuvių Bendruomenė?</a>“ ir JAV LB <a 
			title="JAV LB įstatai ir taisyklės" 
			href="{{ STATIC_URL }}files/jav_lb_istatai.pdf">įstatuose ir 
			taisyklėse</a>.
		</p>
	</div>

	<h2>Tapk apygardos savanoriu (-e)</h2>
	<div>
		<p>
			Šis būdas tinkamiausias, jei esi veiklus (-i), tavo galva –
			dūzgiantis idėjų avilys, nori daryti teigiamą pokytį bendruomenės
			gyvenime, tačiau nebūti įrėmintas (-a) organizacinės struktūros,
			posėdžių ir darbotvarkių. Taip pat, jei mąstai apie visuomeninę
			veiklą, bet dar nesi pasiruošęs (-usi) prisiimti didelės ilgalaikės
			atsakomybės.
		</p>
		<p>
			Pasirinkęs (-usi) savanorišką darbą Niujorko apygardoje galėsi:
		</p>
		<ul>
			<li>
				<strong>stiprinti</strong> savo socialines, organizacines,
				lyderystės kompetencijas;
			</li>
			<li>
				<strong>realizuoti</strong> save – įgyvendinti savarankiškus
				projektus pagal savo įgūdžius ir pomėgius;
			</li>
			<li>
				<strong>teikti naudą</strong> bendruomenei ir būti pripažintam
				(-ai) jos rate;
			</li>
			<li>
				<strong>susirasti draugų</strong> ir bendraminčių;
			</li>
			<li>
				<strong>paįvairinti</strong> savo šiokiadienius ir savaitgalius
				įdomiais renginiais ir išvykomis.
			</li>
		</ul>
		<p>
			Apygardos savanorių komanda laukia tavęs – čia rasi energingus,
			profesionalius, draugiškus lietuvius, kurie mielai priims tave į
			būrį. Parašyk mums į <a title="info@nylithuanian.org"
			href="mailto:info@nylithuanian.org">info@nylithuanian.org</a>!
		</p>
	</div>

	<h2>Tapk apygardos valdybos nariu (-e)</h2>
	<div>
		<p>
			Jei turi lyderio savybių, esi susipažinęs (-usi) su bendruomenės
			veikla, turi viziją, kaip ją tobulinti bei pasiryžimo siekti
			ilgalaikių tikslų, kandidatuok į Niujorko apygardos
			valdybą.
		</p>
		<p>
			Apygardos valdybos nariu gali tapti, jei:
		</p>
		<ul>
			<li>
				tau yra 18 ir daugiau metų;
			</li>
			<li>
				esi perskaitęs (-čiusi) JAV Lietuvių Bendruomenės (JAV LB)
				<a title="JAV LB įstatai ir taisyklės" 
				href="{{ STATIC_URL }}files/jav_lb_istatai.pdf">įstatus ir 
				taisykles</a>;
			</li>
			<li>
				dalyvauji apygardos metiniame suvažiavime, kurio metu vykdomi
				rinkimai.
			</li>
		</ul>
		<p>
			Taip pat daugiau galimybių būti išrinktam (-ai) į apygardos valdybą
			turėsi, jei iki rinkimų dienos dalyvavai Niujorko
			Lietuvių Bendruomenės (apygardos ar jai priklausančių apylinkių)
			veikloje ir savo idėjomis bei darbais prisidėjai prie jos gerovės
			kūrimo.
		</p>
		<p>
			Artimiausi apygardos valdybos rinkimai vyks 2015 metais. JAV LB
			apygardos valdyba renkama trejiems metams,  jos kadencija sutampa
			su JAV LB Tarybos kadencija. Rinkimai vyksta apygardos metinio
			suvažiavimo metu, sausio – birželio mėnesiais, apie tai apygardos
			valdyba informuoja bendruomenės narius šios interneto svetainės
			<a title="Renginių sąrašas" href="/renginiai/">renginių sąraše</a> 
			bent 10 dienų prieš suvažiavimą.
		</p>
		<p>
			Apygardos valdybą sudaro pirmininkas, sekretorius, iždininkas ir
			kiti nariai. Apygarda gali įsteigti ir kitas pareigybes,
			reikalingas apygardos projektams įgyvendinti. Pavyzdžiui,
			šiuo metu Niujoko apygarda plėtoja ir prižiūri šios interneto
			svetainės turinį, todėl keli jos valdybos nariai yra atsakingi už
			viešuosius ryšius, oficialios informacijos bei turinio kaupimą ir
			administravimą.
		</p>
		<p>
			Daugiau informacijos apie rinkimus bei apygardos valdybos veiklą
			gali rasti skiltyje „<a title="Apie mus" 
			href="/apie-mus/">Apie mus</a>“, vadovėlyje „<a 
			title="Kas yra JAV Lietuvių Bendruomenė?" 
			href="{{ STATIC_URL }}files/jav_lb_vadovelis.pdf">Kas yra JAV 
			Lietuvių Bendruomenė?</a>“ ir JAV LB <a 
			title="JAV LB įstatai ir taisyklės" 
			href="{{ STATIC_URL }}files/jav_lb_istatai.pdf">įstatuose ir 
			taisyklėse</a>.
		</p>
	</div>

	<h2>Tapk apygardos ar apylinkės kontrolės komisijos nariu (-e)</h2>
	<div>
		<p>
			Rinkimų į apylinkės ir apygardos valdybas metu taip pat renkama
			trijų asmenų kontrolės komisija, kuri bent kartą per metus tikrina
			apylinkės/apygardos turtą, išlaidų teisėtumą bei metinių
			susirinkimų nutarimų vykdymą. Apylinkės kontrolės komisija renkama
			dvejiems metams, apygardos – trejiems. Apylinkės ar apygardos
			valdybos nariai negali būti kontrolės komisijos nariais.
		</p>
		<p>
			Kandidatuoti į apygardos kontrolės komisiją gali, jei:
		</p>
		<ul>
			<li>
				tau yra 18 ir daugiau metų;
			</li>
			<li>
				esi perskaitęs (-čiusi) JAV Lietuvių Bendruomenės (JAV LB)
				<a title="JAV LB įstatai ir taisyklės" 
				href="{{ STATIC_URL }}files/jav_lb_istatai.pdf">įstatus ir 
				taisykles</a>;
			</li>
			<li>
				dalyvauji apygardos metiniame suvažiavime, kurio metu vykdomi
				rinkimai.
			</li>
		</ul>
		<p>
			Kandidatuoti į apylinkės kontrolės komisiją gali, jei:
		</p>
		<ul>
			<li>
				esi <a title="Registruotis" 
				href="/nariai/registruotis/">užsiregistravęs</a> (-usi) toje 
				apylinkėje (apie tai daugiau skaityk „<a 
				title="Tapk oficialiu nariu" 
				href="?panel=0">Tapk oficialiu Bendruomenės nariu (-e)</a>“);
			</li>
			<li>
				tau yra 18 ir daugiau metų;
			</li>
			<li>
				esi perskaitęs (-čiusi) JAV Lietuvių Bendruomenės (JAV LB)
				<a title="JAV LB įstatai ir taisyklės" 
				href="{{ STATIC_URL }}files/jav_lb_istatai.pdf">įstatus ir 
				taisykles</a>;
			</li>
			<li>
				dalyvauji apylinkės metiniame suvažiavime, kurio metu vykdomi
				rinkimai.
			</li>
		</ul>
		<p>
			Daugiau informacijos apie kontrolės komisijos veiklą gali rasti
			vadovėlyje „<a 
			title="Kas yra JAV Lietuvių Bendruomenė?" 
			href="{{ STATIC_URL }}files/jav_lb_vadovelis.pdf">Kas yra JAV 
			Lietuvių Bendruomenė?</a>“ ir JAV LB <a 
			title="JAV LB įstatai ir taisyklės" 
			href="{{ STATIC_URL }}files/jav_lb_istatai.pdf">įstatuose ir 
			taisyklėse</a>.
		</p>
	</div>

	<!-- <h2>Paremk</h2>
	<div>
	<p>
	Kiekvienas bendruomenei paaukotas doleris – tai investicija į
	teigiamas permainas ir turiningesnį bendruomenės gyvenimą, kurio
	privalumus galėsi pajusti pats(-i) asmeniškai. Nuo tavo visokeriopos
	paramos priklauso itin daug – lituanistinių mokyklų, sporto klubų
	veikla, kultūrinių ir švietėjiškų renginių gausa ir kokybė.
	Kiekviena auka, kad ir labai nedidelė, yra daugiau nei materialinė
	pagalba, bet ir didžiulė moralinė parama visuomeniniais pagrindais
	bendruomenės labui dirbantiems organizacijos nariams.
	</p>

	<h3>Parama apygardai</h3>
	<p>
	Apygardos veiklos spektras labai platus: ji vysto ir administruoją
	vienintelę Lietuvių Bendruomenės interneto svetainę Niujorko
	valstijoje, kaupia bendruomenės veiklos archyvą, atstovauja
	Niujorko valstijos lietuvius bendraudama su išorinėmis
	organizacijomis ir Niujorko miesto bei valstijos valdžios
	atstovais. Kiekvieną savaitę apygarda informuoja daugiau nei
	tūkstantį Niujorko lietuvių apie Bendruomenės veiklą. Tai pats
	didžiausias informacijos apie lietuvių veiklą šaltinis Niujorko
	valstijoje.
	</p>
	<p>
	Apygardą gali paremti:
	</p>
	<ul>
	<li>
	<a title="Vienkartinis pavedimas"
	href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=info@nylithuanian.org&item_name=Parama JAV LB Niujorko apygardai&item_number=Niujorko apygarda&currency_code=USD&image_url=http://dev.nylithuanian.org{% static "images/logo_paypal.png" %}">vienkartiniu pavedimu</a> į apygardos PayPal sąskaitą
	</li>
	<li>
	reguliariais pavedimais į apygardos PayPal sąskaitą:
	<ul>
	<li>
	<a title="Reguliarūs pavedimai"
	href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick-subscriptions&business=info@nylithuanian.org&src=1&p3=1&t3=M&a3=25&srt=12&item_name=Parama JAV LB Niujorko apygardai&item_number=Niujorko apygarda&currency_code=USD&image_url=http://dev.nylithuanian.org{% static "images/logo_paypal.png" %}">12 mėnesinių mokėjimų, po $25.00 kas mėnesį</a>
	</li>
	<li>
	<a title="Reguliarūs pavedimai"
	href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick-subscriptions&business=info@nylithuanian.org&src=1&p3=1&t3=M&a3=50&srt=12&item_name=Parama JAV LB Niujorko apygardai&item_number=Niujorko apygarda&currency_code=USD&image_url=http://dev.nylithuanian.org{% static "images/logo_paypal.png" %}">12 mėnesinių mokėjimų, po $50.00 kas mėnesį</a>
	</li>
	<li>
	<a title="Reguliarūs pavedimai"
	href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick-subscriptions&business=info@nylithuanian.org&src=1&p3=1&t3=M&a3=100&srt=12&item_name=Parama JAV LB Niujorko apygardai&item_number=Niujorko apygarda&currency_code=USD&image_url=http://dev.nylithuanian.org{% static "images/logo_paypal.png" %}">12 mėnesinių mokėjimų, po $100.00 kas mėnesį</a>
	</li>
	</ul>
	</li>
	<li>
	<p>
	išrašydama(s) čekį su pastaba (memo) „LAC NY District“ ir
	išsiųsdama(s) adresu
	</p>
	<p>
	Lithuanian-American Community, Inc.
	<br />
	c/o Angele Miknius
	<br />
	10 W 15th Street Apt 1208
	<br />
	New York, NY 10011
	</p>
	</li>
	</ul>

	<h3>Parama apylinkėms</h3>
	<p>
	Apylinkės rengia kultūrinius, sporto bei švietimo renginius, svarbių
	istorinių ir religinių datų minėjimus. Tai - kertinė veikla,
	vienijanti, stiprinanti Niujorko bendruomenę, padedanti išlaikyti
	lietuvybę bei ryšį su Lietuva. Nors apylinkės dažnai
	bendradarbiauja organizuodamos renginius, kiekviena turi atskirą
	biudžetą ir priima paramą iš tai apylinkei priklausančių
	bendruomenės narių (kaip tapti apylinkės nariu?).
	</p>
	<p>
	Apylinkes gali paremti:
	</p>
	<ul>
	<li>
	sumokėdama(s) metinį solidarumo įnašą (išsami informacija
	pateikta tavo apylinkės skiltyje)
	</li>
	<li>
	išrašydamas čekį tavo apylinkės iždininkui (išsami informacija
	pateikta tavo apylinkės skiltyje)
	</li>
	<li>
	dalyvaudama(s) renginiuose ir sumokėdama(s) savanorišką įėjimo
	auką
	</li>
	</ul>
	<p>
	JAV Lietuvių Bendruomenė yra ne pelno siekianti organizacija,
	atleista nuo mokesčių (turi IRS 501(c)(3) statusą). Visos aukos,
	skirtos JAV Lietuvių Bendruomenei, jai priklausančioms apygardoms
	ir apylinkėms gali būti nurašytos nuo mokesčių. JAV Lietuvių
	Bendruomenė kiekvienam paaukojusiam metų pabaigoje paštu išsiunčia
	gautas aukas patvirtinantį dokumentą.
	</p>

	<h3>Reklama svetainėje</h3>
	<p>
	Svetainėje nuomojame reklaminius plotus. Dėl išsamesnės informacijos
	kreipkitės el. paštu <a
	href="mailto:info@nylithuanian.org">info@nylithuanian.org</a>.
	</p>
	</div> -->
</div>

{% endblock %}
