{% extends 'base.html' %}

{% block title%}Apie mus{% endblock %}

{% block content %}
<h1>Redakcijos komanda</h1>

<p>Informacija ruošiama.</p>

{% endblock %}

{% block sidebar %}
<h2 class="headline">Daugiau</h2>
<ul class="clean">
	{% comment %}
	<li>
		<a {% if active_item == 'susitelkimo-centrai' %}class="active" {% endif %}href="/apie-mus/redakcija/">Komanda</a>
	</li>
	{% endcomment %}
	<li>
		<a {% if active_item == 'reklama' %}class="active" {% endif %}href="/apie-mus/reklama/">Reklama</a>
	</li>
	<li>
		<a {% if active_item == 'pranesk' %}class="active" {% endif %}href="/apie-mus/pranesk/">Pranešk!</a>
	</li>
	<li>
		<a {% if active_item == 'nuostatos' %}class="active" {% endif %}href="/apie-mus/nuostatos/">Informacijos skelbimo nuostatos</a>
	</li>
</ul>
{% endblock %}
