{% extends 'flatpages/about_us.html' %}

{% block title%}Apie mus{% endblock %}

{% block content %}
<h1>Religinės organizacijos</h1>

<div class="box large">
	<p>
		<strong>Šv. Mergelės Marijos Apreiškimo bažnyčia</strong><br />
		259 N 5th Street<br />
		Brooklyn, NY 11211
	</p>
	<p>
		<strong>Kunigas:</strong> Vytautas Volertas<br />
		Telefonas: 718-326-2236<br />
		El. paštas: <a title="volertas@aol.com" 
		href="mailto:volertas@aol.com">volertas@aol.com</a><br />
		Interneto svetainė: <a title="http://www.nyapreiskimo.com" 
		href="http://www.nyapreiskimo.com">http://www.nyapreiskimo.com</a>
	</p>
</div>

<div class="box large">
	<p>
		<strong>Atsimainymo bažnyčia</strong><br />
		Transfiguration R. C. Church<br />
		64-14 Clinton Avenue<br />
		Maspeth, NY 11378
	</p>
	<p>
		<strong>Kunigas:</strong> Vytautas Volertas<br />
		Telefonas: 718-326-2236<br />
		El. paštas: <a title="transfiguration@catholicweb.com" 
		href="mailto:transfiguration@catholicweb.com">transfiguration@catholicweb.com</a><br />
		Interneto svetainė: <a title="http://home.catholicweb.com/transfiguration/" 
		href="http://home.catholicweb.com/transfiguration/">http://home.catholicweb.com/transfiguration/</a>
	</p>
</div>

<div class="box large">
	<p>
		<strong>Šv. Jono Evangelisto bažnyčia</strong><br />
		546 St. John's Place<br />
		Riverhead, NY 11901
	</p>
	<p>
		Telefonas: 631-727-2030<br />
		Interneto svetainė: <a title="http://www.saintjohnriverhead.org/" 
		href="http://www.saintjohnriverhead.org/">http://www.saintjohnriverhead.org/</a>
	</p>
</div>

<div class="box large">
	<p>
		<strong>Šv. Jurgio bažnyčia</strong><br />
		150 Varinna Drive<br />
		Rochester, NY 14618
	</p>
	<p>
		Telefonas: 585-319-5689<br />
	</p>
</div>

<div class="clear"> </div>

<p>Informacija atnaujinta 2014 m. gegužės 1 d.</p>

{% endblock %}


