{% extends 'flatpages/about_us.html' %}

{% block title%}Apie Rytinio Long Island apylinkę{% endblock %}

{% block content %}
<h1>JAV LB Rytinio Long Island apylinkė</h1>

<p>2012 m. birželio 9 d. Niujorko valstijoje įsikūrė nauja lietuvių bendruomenė - Rytinio Long Island apylinkė. 
	Birželio 28 d. ji buvo oficialiai priimta į JAV Lietuvių Bendruomenę ir Niujorko apygardą. Sveikiname naująją apylinkę ir kviečiame jos narius į Niujorko lietuvių būrį!</p>

<p>Rytinio Long Island apylinkės valdybą sudaro:</p>
<ul>
    <li><a title="Rasa Mitrulevičienė" href="mailto:rmitruleviciene@nylithuanian.org">Rasa Mitrulevičienė</a> (pirmininkė)</li>
    <li><a title="Renata Cheshire" href="mailto:rcheshire@nylithuanian.org">Renata Cheshire</a> (vicepirmininkė)</li>
    <li><a title="Gerda Vadeikienė" href="mailto:gvadeikiene@nylithuanian.org">Gerda Vadeikienė</a> (iždininkė)</li>
    <li><a title="Danutė Tarasevičius" href="mailto:dtarasevicius@nylithuanian.org">Danutė Tarasevičius</a> (sekretorė)</li>
    <li><a title="Irta Brazienė" href="mailto:ibraziene@nylithuanian.org">Irta Brazienė</a> (atstovė kultūros ir švietimo reikalams)</li>
    <li><a title="Tomas Mitrulevičius" href="mailto:tmitrulevicius@nylithuanian.org">Tomas Mitrulevičius</a> (atstovas sporto reikalams)</li>
    <li><a title="Gabrielė Petrauskaitė" href="mailto:gpetrauskaite@nylithuanian.org">Gabrielė Petrauskaitė</a> (atstovė jaunimo reikalams)</li>	
</ul>

<p>Su Rytinio Long Island apylinkės valdyba galite susisiekti, rašydami laiškus adresu <a title="Rytinio Long Island apylinkė" href="mailto:rli@nylithuanian.org">rli@nylithuanian.org</a>.</p>

{% endblock %}
