{% extends 'flatpages/about_us.html' %}

{% block title%}Apie Rytinio Long Island apylinkę{% endblock %}

{% block content %}
<h1>JAV LB Rytinio Long Island apylinkė</h1>

<p>2014 m. kovo 15 d. įvyko Rytinio Long Island apylinkės metinis susirinkimas. 
	Jo metu išrinkta nauja apylinkės valdyba:</p>
<ul>
    <li><a title="Rasa Mitrulevičienė" href="mailto:rmitruleviciene@nylithuanian.org">Rasa Mitrulevičienė</a> (pirmininkė)</li>
    <li><a title="Gerda Vadeikienė" href="mailto:gvadeikiene@nylithuanian.org">Gerda Vadeikienė</a> (iždininkė)</li>
    <li><a title="Irta Brazienė" href="mailto:ibraziene@nylithuanian.org">Irta Brazienė</a> (atstovė kultūros ir švietimo reikalams)</li>
    <li><a title="Tomas Mitrulevičius" href="mailto:tmitrulevicius@nylithuanian.org">Tomas Mitrulevičius</a> (atstovas sporto reikalams)</li>
    <li><a title="Gabrielė Petrauskaitė" href="mailto:gpetrauskaite@nylithuanian.org">Gabrielė Petrauskaitė</a> (atstovė jaunimo reikalams)</li>	
</ul>

<p>Su Rytinio Long Island apylinkės valdyba galite susisiekti, rašydami laiškus adresu <a title="Rytinio Long Island apylinkė" href="mailto:rli@nylithuanian.org">rli@nylithuanian.org</a>.</p>

{% endblock %}
