{% extends 'flatpages/about_us.html' %}

{% block title%}Apie Rochester apylinkę{% endblock %}

{% block content %}
<h1>JAV LB Rochester apylinkė</h1>

<p>Dabartinę Rochester apylinkės valdybą sudaro šie asmenys:</p>
<ul>
    <li><a title="Skirmantė Juodeikytė-Philippone" href="mailto:sphilippone@nylithuanian.org">Skirmantė Juodeikytė-Philippone</a> (pirmininkė)</li>
    <li><a title="Eugenijus Vidmantas" href="mailto:evidmantas@nylithuanian.org">Eugenijus Vidmantas</a> (iždininkas)</li>
    <li><a title="Janice Raspudic" href="mailto:jraspudic@nylithuanian.org">Janice Raspudic</a> (sekretorė)</li>	
</ul>

<p>Su Rochester apylinkės valdyba galite susisiekti, rašydami laiškus adresu <a title="Rochester apylinkė" href="mailto:rochester@nylithuanian.org">rochester@nylithuanian.org</a>.</p>

{% endblock %}
