{% extends 'flatpages/about_us.html' %}

{% block title%}Apie mus{% endblock %}

{% block content %}
<h1>Susitelkimo centrai</h1>

<p>Bendruomenės organizuojami tradiciniai lietuviški renginiai yra tapę vienais svarbiausių lietuvaičių traukos centrų. Lietuvos Nepriklausomybės dienos šventę drąsiai galima vadinti svarbiausiu metų įvykiu bendruomenėje. Tuomet ne tik švenčiama, bet ir renkama parama lietuviškos veiklos plėtojimui. Kiti tradiciniai renginiai vyksta Kūčių ir Šv. Kalėdų, Padėkos dienos, Šv. Velykų, Joninių proga. Be jų taip pat organizuojami atlikėjų iš Lietuvos pasirodymai, susitikimai ir diskusijos su iškiliais visuomenės veikėjais.</p>

<p>Niujorko valstijoje veikia 3 lituanistinės mokyklos vaikams ir suaugusiems. Jos yra svarbūs švietimo ir kultūros centrai lietuvybę puoselėjančioms šeimoms. Didžiausia, apie 70 mokinių turinti, Niujorko Maironio Lituanistinė Mokykla yra įsikūrusi Brukline, Longailende veikia Aleksandros Kazickienės lituanistinė mokykla, o Edvardo Gervicko mokykla – Ročesteryje.</p>

<p>Sportas – dar viena suburianti veikla. Niujorko apygardoje iš viso veikia 4 lietuviški sporto klubai: „Lietuvių Atletų Klubas“,  „Rasa“ ir „Perkūnas“. Nors juose dažniausiai buriasi krepšinio entuziastai, tačiau laukiami ir kitų sporto šakų mėgėjai.</p>

<p>Nuo seno tradicinėmis bendruomenės susitelkimo vietomis yra išlikusios bažnyčios. Jose vyksta ne tik pamaldos lietuviškai, bet ir įvairūs renginiai. Vienas tokių lietuvaičių traukos centrų – Šv. Mergelės Marijos Apreiškimo bažnyčia (Church of the Annunciation of the Blessed Virgin Mary) Brukline. Gyvenantieji Longailende į lietuviškas mišias renkasi Šv. Jono Evangelisto (St.John The Evangelist) bažnyčioje, Ročesteryje  – Šv. Jurgio (St. George‘s Parish), o Kvinse – Viešpaties Atsimainymo (Church of the Transfiguration) bažnyčioje.</p>

<p>Didelį indėlį bendruomeninės dvasios palaikymui teikia ir Niujorke veikiantis LR generalinis konsulatas. Jo patalpos yra populiari čia organizuojamų lietuviškų švenčių, kultūrinių renginių ir susitikimų vieta. Dar vienas informacinis ir kultūrinis centras  – organizacijai Susivienijimas Lietuvių Amerikoje (SLA; Lithuanian Alliance of America) priklausantis pastatas, dar vadinamas The Alliance Building. Jame veikia lietuvių meno galerija, kuri taip pat yra  bendruomenės organizacijų renginių bei susitikimų vieta. Šiame pastate veiklą veda ir Tautos Fondas (Lithuanian National Foundation).</p>



{% endblock %}


