{% extends 'flatpages/about_us.html' %}

{% block title%}Apie mus{% endblock %}

{% block content %}
<h1>Susitelkimo centrai</h1>

<h2>Renginiai</h2>
<p>
	Bendruomenės organizuojami tradiciniai lietuviški renginiai yra tapę vienais
	svarbiausių lietuvaičių traukos centrų. Lietuvos Nepriklausomybės dienos
	šventę drąsiai galima vadinti svarbiausiu metų įvykiu bendruomenėje. Tuomet
	ne tik švenčiama, bet ir renkama parama lietuviškos veiklos plėtojimui.
	Kiti tradiciniai renginiai vyksta Kūčių ir Šv. Kalėdų, Padėkos dienos, Šv.
	Velykų, Joninių proga. Be jų taip pat organizuojami atlikėjų iš Lietuvos
	pasirodymai, susitikimai ir diskusijos su iškiliais visuomenės
	veikėjais.
</p>

<h2>Mokyklos</h2>
<p>
	Niujorko valstijoje veikia trys lituanistinės mokyklos vaikams ir
	suaugusiems. Jos yra svarbūs švietimo ir kultūros centrai lietuvybę
	puoselėjančioms šeimoms. Didžiausia, apie 70 mokinių turinti,
	<a title="Niujorko Maironio Lituanistinė Mokykla"
	href="http://www.nymaironiomokykla.org/">Niujorko Maironio Lituanistinė
	Mokykla</a> yra įsikūrusi St. Francis of Paola bažnyčiai priklausančiose 
	patalpose Brukline, <a title="Žemėlapis" href="https://maps.google.com/maps?q=206+Skillman+Ave,+Brooklyn,+NY&hl=en&ll=40.715355,-73.94316&spn=0.007782,0.006212&sll=40.715505,-73.943072&hnear=206+Skillman+Ave,+Brooklyn,+Kings+County,+New+York+11211&t=h&z=16">206 Skillman Ave</a>. Čia taip pat renkasi ir veikia 
	Niujorko ateitininkai, skautai ir skautės (New York Scouts). Rytiniame Longailende, <a title="Žemėlapis" href="https://maps.google.com/maps?q=269+Main+Road,+Aquebogue,+NY&hl=en&sll=40.940153,-72.636725&sspn=0.003862,0.003106&oq=269+Main+Road,+Aquebo&t=h&hnear=269+Main+Rd,+Laurel,+New+York+11948&z=16">269 
	Main Road, Aquebogue</a>, veikia 
	<a title="Aleksandros Kazickienės Lituanistinė Mokykla"
	href="http://www.akazickasls.org/">Aleksandros Kazickienės Lituanistinė
	Mokykla</a>, o <a title="Edvardo Gervicko Lituanistinė Mokykla"
	href="https://sites.google.com/site/lhsofr/School">Edvardo Gervicko
	Lituanistinė Mokykla</a> –
	Ročesteryje, <a title="Žemėlapis" href="https://maps.google.com/maps?q=165+Rhinecliff+Dr,+Rochester,+NY&hl=en&sll=40.94034,-72.636633&sspn=0.015447,0.012424&oq=165+Rhine&t=h&hnear=165+Rhinecliff+Dr,+Rochester,+New+York+14618&z=16">165 Rhinecliff Drive</a>.
</p>

<h2>Bažnyčios</h2>
<p>
	Nuo seno tradicinėmis bendruomenės susitelkimo vietomis yra išlikusios
	bažnyčios. Jose vyksta ne tik pamaldos lietuviškai, bet ir įvairūs
	renginiai. Vienas tokių lietuvaičių traukos centrų –
	<a title="Šv. Mergelės Marijos Apreiškimo bažnyčia"
	href="http://www.nyapreiskimo.com/">Šv. Mergelės Marijos
	Apreiškimo bažnyčia</a> (Church of the
	Annunciation of the Blessed Virgin Mary) Brukline, <a title="Žemėlapis" href="https://maps.google.com/maps?q=259+N+5th+St,+Brooklyn,+NY&hl=en&sll=43.132774,-77.564128&sspn=0.014923,0.012424&oq=259+N+5&t=h&hnear=259+N+5th+St,+Brooklyn,+New+York+11211&z=16">259 N 5th Street</a>. 
	Gyvenantieji rytiniame Longailende į lietuviškas mišias renkasi 
	<a title="Šv. Jono Evangelisto bažnyčia"
	href="http://www.stjohntheevangelistcm.com/">Šv. Jono Evangelisto</a>
	(St. John The Evangelist)
	bažnyčioje, <a title="Žemėlapis" href="https://maps.google.com/maps?q=546+St+Johns+Pl,+Riverhead,+NY&hl=en&sll=40.714303,-73.954521&sspn=0.0155,0.012424&oq=546+St.+Johns+Pl&t=h&hnear=546+St+Johns+Pl,+Riverhead,+New+York+11901&z=16">546 St. Johns Place, Riverhead</a>, Ročesteryje  – Šv. Jurgio 
	(St. George‘s Parish), <a title="Žemėlapis" href="https://maps.google.com/maps?q=150+Varinna+Drive,+Rochester,+NY&hl=en&sll=40.697488,-73.979681&sspn=0.827731,1.227722&oq=150+Varinna+Drive&hnear=150+Varinna+Dr,+Rochester,+New+York+14618&t=m&z=16">150 Varinna Drive</a>, o Kvinse –
	<a title="Atsimainymo bažnyčia"
	href="http://www.transfiguration.catholicweb.com/">Atsimainymo
	bažnyčioje</a> (Church of the Transfiguration), <a title="Žemėlapis" href="https://maps.google.com/maps?q=64-14+Clinton+Avenue,+Brooklyn,+NY&hl=en&sll=40.724364,-73.90121&sspn=0.015498,0.012424&t=h&hnear=64-14+Clinton+Ave,+Flushing,+New+York+11378&z=16">64-14 Clinton Ave</a>.
</p>

<h2>Laisvalaikio klubai</h2>
<p>
	Sportas ir šokiai – dar keletas lietuvius suburiančių veiklų. Niujorko
	apygardoje veikia keletas lietuviškų sporto klubų: <a
	title="Niujorko Lietuvių Atletų Klubas"
	href="https://www.facebook.com/NewYorkLAK">„Niujorko Lietuvių Atletų
	Klubas“</a> treniruotes organizuoja Brukline St. Vincent gimnazijoje, 
	<a title="Žemėlapis" href="https://maps.google.com/maps?q=180+N+7th+St,+Brooklyn,+NY&hl=en&sll=40.724371,-73.901203&sspn=0.015498,0.012424&oq=180+N+&t=h&hnear=180+N+7th+St,+Brooklyn,+New+York+11211&z=16">180 N 7th Street</a>. Niujorke taip pat veikia „Rasa“ ir „Perkūnas“. Nors juose 
	dažniausiai sportuoja krepšinio
	entuziastai, tačiau "Lietuvių Atletų Klubas" laukia ir kitų sporto šakų 
	mėgėjų. Lietuvių liaudies
	šokių gerbėjai Ročesteryje yra susibūrę į klubą „Dobilas“. Jie repetuoja
	katalikiškos mokyklos "Seton" patalpose, <a title="Žemėlapis" href="https://maps.google.com/maps?q=165+Rhinecliff+Dr,+Rochester,+NY&hl=en&sll=40.94034,-72.636633&sspn=0.015447,0.012424&oq=165+Rhine&t=h&hnear=165+Rhinecliff+Dr,+Rochester,+New+York+14618&z=16">165 Rhinecliff Drive</a>.
</p>

<h2>Visuomeninės ir valstybinės organizacijos</h2>
<p>
	Didelį indėlį bendruomeninės dvasios palaikymui teikia ir Niujorke
	veikiantis <a title="Lietuvos Respublikos generalinis konsulatas Niujorke"
	href="http://ny.mfa.lt/">Lietuvos Respublikos generalinis konsulatas</a>, 
	<a title="Žemėlapis" href="https://maps.google.com/maps?q=420+5th+Ave,+New+York,+NY&hl=en&sll=40.716945,-73.957342&sspn=0.015499,0.012424&oq=420+Fifth&t=h&hnear=420+5th+Ave,+New+York,+10018&z=16">420 Fifth Ave</a>. Jo patalpos yra populiari čia
	organizuojamų lietuviškų švenčių, kultūrinių renginių ir susitikimų vieta.
	Dar vienas informacinis ir kultūrinis centras – organizacijai
	<a title="Susivienijimas Lietuvių Amerikoje"
	href="http://lithalliance.com/">Susivienijimas Lietuvių Amerikoje</a>
	(SLA; Lithuanian Alliance of America)
	priklausantis pastatas (The Alliance Building), <a title="Žemėlapis" href="https://maps.google.com/maps?q=307+W+30th+St,+New+York,+NY&hl=en&sll=40.750657,-73.983292&sspn=0.015491,0.012424&oq=307+W+&t=h&hnear=307+W+30th+St,+New+York,+10001&z=16">307 W 30th Street</a>. Jame 
	veikia lietuvių meno
	galerija, kurioje taip pat vyksta bendruomenės organizacijų renginiai bei
	susitikimai. Šiame pastate yra įsikūręs ir <a title="Tautos Fondas"
	href="http://www.tautosfondas.org/">Tautos Fondas</a> (Lithuanian
	National Foundation).
</p>

<p>
	Ročesteryje veikiančių visuomeninių organizacijų „Baltų vaikai“ ir 
	<a title="Ročesterio Lietuvių Draugija"
	href="https://sites.google.com/site/lhsofr/">Ročesterio Lietuvių Draugija</a>
	(Lithuanian Heritage Society of Rochester)
	namais yra tapusios bažnyčiai <a title="Our Lady of Lourdes bažnyčia"
	href="http://www.ourladyoflourdessaintanne.org/">Our Lady of Lourdes</a>
	priklausančios patalpos, <a title="Žemėlapis" href="https://maps.google.com/maps?q=165+Rhinecliff+Dr,+Rochester,+NY&hl=en&sll=40.94034,-72.636633&sspn=0.015447,0.012424&oq=165+Rhine&t=h&hnear=165+Rhinecliff+Dr,+Rochester,+New+York+14618&z=16">165 Rhinecliff Drive</a>.
	Čia ne tik vyksta organizacijų narių susitikimai, bet taip pat
	organizuojami įvairūs bendruomenei skirti renginiai.
</p>

{% endblock %}

