{% extends 'flatpages/about_us.html' %}

{% block title%}Apie mus{% endblock %}

{% block content %}
<h1>Susitelkimo centrai</h1>

<h2>Renginiai</h2>
<p>Bendruomenės organizuojami tradiciniai lietuviški renginiai yra tapę vienais 
	svarbiausių lietuvaičių traukos centrų. Lietuvos Nepriklausomybės dienos 
	šventę drąsiai galima vadinti svarbiausiu metų įvykiu bendruomenėje. Tuomet 
	ne tik švenčiama, bet ir renkama parama lietuviškos veiklos plėtojimui. 
	Kiti tradiciniai renginiai vyksta Kūčių ir Šv. Kalėdų, Padėkos dienos, Šv. 
	Velykų, Joninių proga. Be jų taip pat organizuojami atlikėjų iš Lietuvos 
	pasirodymai, susitikimai ir diskusijos su iškiliais visuomenės 
	veikėjais.</p>

<h2>Mokyklos</h2>	
<p>Niujorko valstijoje veikia trys lituanistinės mokyklos vaikams ir 
	suaugusiems. Jos yra svarbūs švietimo ir kultūros centrai lietuvybę 
	puoselėjančioms šeimoms. Didžiausia, apie 70 mokinių turinti, 
	<a title="Niujorko Maironio Lituanistinė Mokykla" 
	href="http://www.nymaironiomokykla.org/">Niujorko Maironio Lituanistinė 
	Mokykla</a> yra įsikūrusi Brukline. Longailende veikia 
	<a title="Aleksandros Kazickienės Lituanistinė Mokykla" 
	href="http://www.akazickasls.org/">Aleksandros Kazickienės Lituanistinė 
	Mokykla</a>, o <a title="Edvardo Gervicko Lituanistinė Mokykla" 
	href="https://sites.google.com/site/lhsofr/School">Edvardo Gervicko 
	Lituanistinė Mokykla</a> – 
	Ročesteryje. Niujorko Maironio Lituanistinėje Mokykloje taip pat renkasi ir 
	veikia Niujorko ateitininkų ir skautų organizacijos (New York Scouts).</p>

<h2>Bažnyčios</h2>
<p>Nuo seno tradicinėmis bendruomenės susitelkimo vietomis yra išlikusios 
	bažnyčios. Jose vyksta ne tik pamaldos lietuviškai, bet ir įvairūs 
	renginiai. Vienas tokių lietuvaičių traukos centrų – 
	<a title="Šv. Mergelės Marijos Apreiškimo bažnyčia" 
	href="http://www.nyapreiskimo.com/">Šv. Mergelės Marijos 
	Apreiškimo bažnyčia</a> (Church of the 
	Annunciation of the Blessed Virgin Mary) Brukline. Gyvenantieji Longailende 
	į lietuviškas mišias renkasi <a title="Šv. Jono Evangelisto bažnyčia" 
	href="http://www.stjohntheevangelistcm.com/">Šv. Jono Evangelisto</a> 
	(St. John The Evangelist) 
	bažnyčioje, Ročesteryje  – Šv. Jurgio (St. George‘s Parish), o Kvinse –  
	<a title="Atsimainymo bažnyčia" 
	href="http://www.transfiguration.catholicweb.com/">Atsimainymo 
	bažnyčioje</a> (Church of the Transfiguration).</p>

<h2>Laisvalaikio klubai</h2>
<p>Sportas ir šokiai – dar keletas lietuvius suburiančių veiklų. Niujorko 
	apygardoje iš viso veikia trys lietuviški sporto klubai: <a 
	title="Niujorko Lietuvių Atletų Klubas" 
	href="https://www.facebook.com/NewYorkLAK">„Niujorko Lietuvių Atletų 
	Klubas“</a>, „Rasa“ ir „Perkūnas“. Nors juose dažniausiai sportuoja krepšinio 
	entuziastai, tačiau laukiami ir kitų sporto šakų mėgėjai. Lietuvių liaudies 
	šokių gerbėjai Ročesteryje yra susibūrę į klubą „Dobilas“. Jie repetuoja 
	bažnyčiai Our Lady of Lourdes priklausančiose patalpose.</p>

<h2>Visuomeninės ir valstybinės organizacijos</h2>
<p>Didelį indėlį bendruomeninės dvasios palaikymui teikia ir Niujorke 
	veikiantis <a title="Lietuvos Respublikos generalinis konsulatas Niujorke" 
	href="http://ny.mfa.lt/">Lietuvos Respublikos generalinis konsulatas</a>. 
	Jo patalpos yra populiari čia 
	organizuojamų lietuviškų švenčių, kultūrinių renginių ir susitikimų vieta. 
	Dar vienas informacinis ir kultūrinis centras – organizacijai 
	<a title="Susivienijimas Lietuvių Amerikoje" 
	href="http://lithalliance.com/">Susivienijimas Lietuvių Amerikoje</a> 
	(SLA; Lithuanian Alliance of America) 
	priklausantis pastatas (The Alliance Building). Jame veikia lietuvių meno 
	galerija, kurioje taip pat vyksta bendruomenės organizacijų renginiai bei 
	susitikimai. Šiame pastate yra įsikūręs ir <a title="Tautos Fondas" 
	href="http://www.tautosfondas.org/">Tautos Fondas</a> (Lithuanian 
	National Foundation).</p>

<p>Ročesteryje veikiančių visuomeninių organizacijų „Baltų vaikai“ ir 
	<a title="Ročesterio Lietuvių Draugija" 
	href="http://www.lhsr.org/">Ročesterio Lietuvių Draugija</a> 
	(Lithuanian Heritage Society of Rochester) 
	namais yra tapusios bažnyčiai <a title="Our Lady of Lourdes bažnyčia" 
	href="http://www.ourladyoflourdessaintanne.org/">Our Lady of Lourdes</a> 
	priklausančios patalpos. 
	Čia ne tik vyksta organizacijų narių susitikimai, bet taip pat 
	organizuojami įvairūs bendruomenei skirti renginiai.</p>

{% endblock %}


