{% extends 'flatpages/about_us.html' %}

{% block title%}Apie mus{% endblock %}

{% block content %}
<h1>Švietimo organizacijos</h1>

<div class="box large">
	<p>
		<strong>Niujorko Maironio Lituanistinė Mokykla</strong><br />
		St. Francis of Paola<br />
		206 Skillman Ave<br />
		Brooklyn, NY 11211
	</p>
	<p>
		<strong>Direktorė:</strong> Rasa Sprindys<br />
		El. paštas: <a title="director@nymaironiomokykla.org" 
		href="mailto:director@nymaironiomokykla.org">director@nymaironiomokykla.org</a><br />
		Telefonas: +1-718-497-3219<br />
		Interneto svetainė: <a title="http://www.nymaironiomokykla.org/" 
		href="http://www.nymaironiomokykla.org/">http://www.nymaironiomokykla.org/</a>
	</p>
</div>

<div class="box large">
	<p>
		<strong>Aleksandros Kazickienės Lituanistinė Mokykla</strong><br />
		269 Main Road<br />
		Aquebogue, NY 11931
	</p>
	<p>
		<strong>Direktorė:</strong> Neila Baumilienė<br />
		El. paštas: <a title="info@akazickasls.org" 
		href="mailto:info@akazickasls.org">info@akazickasls.org</a><br />
		Telefonas: +1-631-353-5016<br />
		Interneto svetainė: <a title="http://www.akazickasls.org/" 
		href="http://www.akazickasls.org/">http://www.akazickasls.org/</a>
	</p>
</div>

<div class="box large">
	<p>
		<strong>Ročesterio Edvardo Gervicko Lituanistinė Mokykla</strong><br />
		Our Lady of Lourdes bažnyčia<br />
		165 Rhinecliff Ave.<br />
		Rochester, NY 14618
	</p>
	<p>
		<strong>Direktorė:</strong> Aušra Clifford<br />
		El. paštas: <a title="ausramike@hotmail.com" 
		href="maito:ausramike@hotmail.com">ausramike@hotmail.com</a><br />
		Telefonas: +1-585-227-5018<br />
		Interneto svetainė: <a title="Edvardo Gervicko Lituanistinė Mokykla" 
		href="https://sites.google.com/site/lhsofr/School">https://sites.google.com/site/lhsofr/School</a>
	</p>
</div>

<div class="clear"> </div>

<p>Informacija atnaujinta 2014 m. gegužės 1 d.</p>

{% endblock %}


