{% extends 'flatpages/about_us.html' %}

{% block title%}Apie mus{% endblock %}

{% block content %}
<h1>Valstybinės organizacijos</h1>

<div class="box large">
	<p>
		<strong>Lietuvos Respublikos generalinis konsulatas Niujorke</strong><br />
		420 Fifth Avenue<br />
		3rd Floor<br />
		New York, NY 10018
	</p>
	<p>
		<strong>Konsulas:</strong> Valdemaras Sarapinas<br />
		El. paštas: <a title="kons.niujorkas@urm.lt" 
		href="mailto:kons.niujorkas@urm.lt">kons.niujorkas@urm.lt</a><br />
		Telefonas: +1-212-354-7840<br />
		Faksas: +1-212-354-7911<br />
		Interneto svetainė: <a title="http://ny.mfa.lt/" 
		href="http://ny.mfa.lt/">http://ny.mfa.lt/</a>
	</p>
</div>

<div class="box large">
	<p>
		<strong>Lietuvos Respublikos Nuolatinė Misija prie Jungtinių Tautų</strong><br />
		708 Third Avenue<br />
		10th Floor<br />
		New York, NY 10017
	</p>
	<p>
		<strong>Ambasadorė:</strong> Raimonda Murmokaitė<br />
		El. paštas: <a title="info@un.mfa.lt" 
		href="mailto:info@un.mfa.lt">info@un.mfa.lt</a><br />
		Telefonas: +1-212-983-9474<br />
		Faksas: +1-212-983-9473<br />
		Interneto svetainė: <a title="http://mission-un-ny.mfa.lt/" 
		href="http://mission-un-ny.mfa.lt/">http://mission-un-ny.mfa.lt/</a>
	</p>
</div>

<div class="clear"> </div>

<p>Informacija atnaujinta 2014 m. gegužės 1 d.</p>

{% endblock %}


