{% extends 'flatpages/about_us.html' %}

{% block title%}Apie mus{% endblock %}

{% block content %}
<h1>Visuomeninės organizacijos</h1>

<div class="box large">
	<p>
		<strong>Susivienijimas Lietuvių Amerikoje (SLA)</strong><br />
		307 W 30th Street<br />
		New York, NY 10001
	</p>
	<p>
		<strong>Vadovas:</strong> Saulius Kuprys<br />
		El. paštas: <a title="laasla@verizon.net" 
		href="mailto:laasla@verizon.net">laasla@verizon.net</a><br />
		Telefonas: +1-212-563-2210<br />
		Faksas: +1-212-331-0001<br />
		Interneto svetainė: <a title="http://lithalliance.com/" 
		href="http://lithalliance.com/">http://lithalliance.com/</a>
	</p>
</div>

<div class="box large">
	<p>
		<strong>Tautos Fondas</strong><br />
		307 W 30th Street<br />
		New York, NY 10001
	</p>
	<p>
		<strong>Valdybos pirmininkė:</strong> Laima Hood<br />
		El. paštas: <a title="info@tautosfondas.org" 
		href="mailto:info@tautosfondas.org">info@tautosfondas.org</a><br />
		Telefonas: +1-212-868-5860<br />
		Faksas: +1-212-868-5815<br />
		Interneto svetainė: <a title="http://www.tautosfondas.org/" 
		href="http://www.tautosfondas.org/">http://www.tautosfondas.org/</a>
	</p>
</div>

<div class="box large">
	<p>
		<strong>Lietuvos vyčiai</strong><br />
		Niujorko 144-oji kuopa<br />
	</p>
	<p>
		Interneto svetainė: <a title="http://www.knightsoflithuania.com/" 
		href="http://www.knightsoflithuania.com/">http://www.knightsoflithuania.com/</a>
	</p>
</div>

<div class="box large">
	<p>
		<strong>Lietuvos skautų asociacija Niujorke</strong><br />
		86-01 114th Street<br />
		Richmond Hill, NY 11418
	</p>
</div>

<div class="box large">
	<p>
		<strong>Lietuvos ateitininkai</strong><br />
	</p>
</div>

<div class="box large">
	<p>
		<strong>Organizacija "Baltų vaikai"</strong><br />
		Our Lady of Lourdes bažnyčia<br />
		165 Rhinecliff Drive<br />
		Rochester, NY 14618
	</p>
</div>

<div class="box large">
	<p>
		<strong>Ročesterio Lietuvių Draugija</strong><br />
		Lithuanian Heritage Society of Rochester<br />
		Our Lady of Lourdes bažnyčia<br />
		165 Rhinecliff Drive<br />
		Rochester, NY 14618
	</p>
	<p>
		<strong>Pirmininkė:</strong> Nida Lelis<br />
		El. paštas: <a title="info@lhsr.org" 
		href="mailto:info@lhsr.org">info@lhsr.org</a><br />
		Interneto svetainė: <a title="Lithuanian Heritage Society of Rochester" 
		href="https://sites.google.com/site/lhsofr/">https://sites.google.com/site/lhsofr/</a>
	</p>
</div>

<div class="clear"> </div>

<p>Informacija atnaujinta 2014 m. gegužės 1 d.</p>

{% endblock %}


