{% extends 'flatpages/about_us.html' %}

{% block title%}Apie mus{% endblock %}

{% block content %}
<h1>Žiniasklaidos organizacijos</h1>

<div class="box large">
	<p>
		<strong>Giedrės Kumpikaitės radijas</strong><br />
		Transliuojama kiekvieną antradienį<br />
		nuo 21:00 val. iki 22:00 val.<br />
		Radijo dažnis: 930 AM<br />
		Transliacija internetu: <a title="http://wpat930am.com/" 
		href="http://wpat930am.com/">http://wpat930am.com/</a>
	</p>
	<p>
		<strong>Vedėja:</strong> Giedrė Kumpikaitė<br />
	</p>
</div>

<div class="box large">
	<p>
		<strong>Ročesterio lietuvių radijas "Dainos Aidas"</strong><br />
		Transliuojama kiekvieną sekmadienį<br />
		nuo 09:00 val. iki 09:30 val.<br />
		Radijo dažnis: 90.1 FM ir 105.1 FM<br />
		Transliacija internetu: <a title="http://www.jazz901.org/listen-live/" 
		href="http://www.jazz901.org/listen-live/">http://www.jazz901.org/listen-live/</a>
	</p>
</div>

<div class="clear"> </div>

<p>Informacija atnaujinta 2014 m. gegužės 1 d.</p>

{% endblock %}


