{% extends 'base.html' %}

{% block header %}
    <link href="{{ STATIC_URL }}css/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ STATIC_URL }}css/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" >
    $(function() { 
       $("#id_publish_date, #formtools_publish_date").datetimepicker({
       	controlType: 'select',
       	dateFormat: 'yy-mm-dd',
       	timeFormat: 'HH:mm'
       });
	});  
</script>
{% endblock %}

{% block sidebar %}
<div class="box">
    <h2 class="headline">Renginio aprašymo pagalba</h2>
    <ul>
        <li>Norėdami pradėti naują pastraipą, įterpkite tuščią eilutę</li>
        <li>Norėdami įterpti pastraipos antraštę, pradėkite naują eilutę simboliais "h2. "</li>
        <li>Norėdami sukurti nenumeruotą sąrašą, pradėkite kiekvieną eilutę simboliais "* "</li>
        <li>Norėdami įterpti numeruotą sąrašą, pradėkite kiekvieną eilutę simboliais "# "</li>
        <li>Norėdami įterpti nuorodą, rašykite "nuorodos tekstas":nuoroda</li>
        <li>Daugiau informacijos ir pavyzdžių rasite <a target="_blank" href="http://en.wikipedia.org/wiki/Textile_%28markup_language%29">Textile svetainėje</a></li>
    </ul>
</div>
{% endblock %}