{% extends 'base.html' %}

{% block content %}
<h2>Pateikti naują straipsnį</h2>
<form action="" method="post">
    {% csrf_token %}
        <p>Laukeliai, pažymėti žvaigždute <abbr title="Required">*</abbr>, yra privalomi.</p>
        <p>
            <label for="id_title">{{ form.title.label }}<abbr title="Required">*</abbr></label><br />
            {{ form.title }}
            {% if form.title.errors %}
                <span class="error">
                    {% for error in form.title.errors %}
                        {{ error }} 
                    {% endfor %}
                </span>
            {% endif %}
            {% if form.title.help_text %}<br /><span class="helptext">{{form.title.help_text }}</span>{% endif %}
        </p>
        <p>
            <label for="id_body">{{ form.body.label }}<abbr title="Required">*</abbr></label><br />
            {{ form.body }}
            {% if form.body.errors %}
                <span class="error">
                    {% for error in form.body.errors %}
                        {{ error }} 
                    {% endfor %}
                </span>
            {% endif %}
            {% if form.body.help_text %}<br /><span class="helptext">{{form.body.help_text|safe }}</span>{% endif %}
        </p>
        <p>
            <label for="id_publish_date">{{ form.publish_date.label }}</label><br />
            {{ form.publish_date }}
            {% if form.publish_date.errors %}
                <span class="error">
                    {% for error in form.publish_date.errors %}
                        {{ error }} 
                    {% endfor %}
                </span>
            {% endif %}
            {% if form.publish_date.help_text %}<br /><span class="helptext">{{form.publish_date.help_text }}</span>{% endif %}
        </p>
  
    <button type="submit" value="Post" >Pateikti straipsnį</button>
    <a class="cancel" href="/">Atšaukti</a>
</form>
{% if form.errors %}
    <p class="error">
        Straipsnio pateikti nepavyko. Atidžiai perskaitykite klaidų pranešimus ir pabandykite dar kartą.
    </p>
    {{ form.non_field_errors }}
{% endif %}
{% endblock %}
