{% extends 'base.html' %}

{% block title %}Keisti slaptažodį{% endblock %}

{% block content %}
        <h2>Keisti slaptažodį</h2>   

        {% if change_failed %}
            <p style="color: #FF0000;">Slaptažodžio pakeisti nepavyko. Priežastys:</p>
            <ul>
                <li>{{ error_message }}</li>
            </ul>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="change_password" />
        </form>
{% endblock %}
