{% extends "base.html" %}

{% block title %}Pamiršau slaptažodį{% endblock %}

{% block content %}
<h2>Pamiršai slaptažodį?</h2>

<p>
	Nesijaudink! Taip nutinka kiekvienam. Įvesk savo el. pašto adresą ir mes 
	atsiųsime instrukcijas, kaip greitai ir paprastai pakeisti sąskaitos 
	slaptažodį.
</p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">El. pašto adresas:</label><br />
    	{{ form.email }}
	</p>
    
    <button type="submit" value="reset-password">Keisti slaptažodį</button>

</form>
{% endblock %}