{% extends "base.html" %}
{% block title %}Sukurti naują slaptažodį{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Siekdami saugumo, prašome įvesti slaptažodį du kartus.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Naujas slaptažodis:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Naujas slaptažodis (pakartoti):</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Keisti slaptažodį" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Slaptažodžio pakeisti nepavyko</h1>
        <p>Pateikta nuoroda buvo neteisinga. Prašome pabandyti pakeisti slaptažodį dar kartą.</p>
    {% endif %}
{% endblock %}