{% extends 'base.html' %}

{% block title %}Vartotojo tipo keitimas{% endblock %}

{% block content %}
<h2>Vartotojo tipo keitimas</h2>

{% if request_successful %}
<p>
    Ačiū, prašymas pakeisti vartotojo tipą išsiųstas svetainės administratoriams. Apie tipo pakeitimą vartotojui bus pranešta asmeniškai el. paštu.
</p>

{% elif form.errors %}
<p style="color: #FF0000;">
    Formoje pateikti netinkami duomenys. Atkreipkite dėmesį į žemiau pateiktus klaidų pranešimus.
</p>

{% else %}
<p style="color: #FF0000;">
    Pakeisti vartotojo tipo nepavyko. {{ error_message }}
</p>
{% endif %}

{% if not request_successful %}
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />
</form>
{% endif %}
{% endblock %}
