{% extends 'base.html' %}

{% block title %}Vartotojo registracija{% endblock %}

{% block content %}
    <h2>Keisti slaptažodį</h2>
    <form action="" method="post">
        {% csrf_token %}
		{{ form.id }}
		
		{% if form.errors %}
			<p class="error">
				Vartotojo registracija nepavyko. Atidžiai perskaitykite klaidų pranešimus ir pabandykite dar kartą.
			</p>
		{% endif %}
		
        <p>Privalomi laukeliai yra <span class="required">paryškinti</span>.</p>
        <p>
            <label class="{{ form.old_password.css_classes }}" for="id_old_password">{{ form.old_password.label }}</label><br />
            {{ form.old_password }}
            {% if form.old_password.errors %}
                <span class="error">
                    {% for error in form.old_password.errors %}
                        {{ error }} 
                    {% endfor %}
                </span>
            {% endif %}
            {% if form.old_password.help_text %}<br /><span class="helptext">{{form.old_password.help_text }}</span>{% endif %}
        </p>
        <p>
            <label class="{{ form.new_password1.css_classes }}" for="id_new_password1">{{ form.new_password1.label }}</label><br />
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
                <span class="error">
                    {% for error in form.new_password1.errors %}
                        {{ error }} 
                    {% endfor %}
                </span>
            {% endif %}
            {% if form.new_password1.help_text %}<br /><span class="helptext">{{form.new_password1.help_text }}</span>{% endif %}
        </p>
        <p>
            <label class="{{ form.new_password2.css_classes }}" for="id_new_password2">{{ form.new_password2.label }}</label><br />
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
                <span class="error">
                    {% for error in form.new_password2.errors %}
                        {{ error }} 
                    {% endfor %}
                </span>
            {% endif %}
            {% if form.new_password2.help_text %}<br /><span class="helptext">{{form.new_password2.help_text }}</span>{% endif %}
        </p>
        <button type="submit" value="Register" >Keisti slaptažodį</button>
        <a class="cancel" href="/">Atšaukti</a>
    </form>
    
    {% if form.non_field_errors %}
        <ul class="error">
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
