{% extends "root.html" %}
{% load url from future %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

<h1>Renginio "{{ event.title }}" nuotraukos</h1>
<ul class="thumbnails">
    {% for photo in photo_list %}
    <li>
        <a href="{{ photo.get_absolute_url }}">
            <img src="{{ photo.get_thumbnail_url }}" class="mo {% block gallery-photo-class %}{% endblock %}" width="100" height="100" alt="{{ photo.title }}"/>
        </a>
    </li>
    {% endfor %}
</ul>

<p>&larr; <a href="/nuotraukos">Visi albumai</a></p>

{% endblock %}

{% block sidebar %}
<div class="box">
    <h2 class="headline">Papildomos funkcijos</h2>
    <ul class="clean">
        <li><img src="{{ STATIC_URL }}images/toolbar/add.png" width="32" height="32" title="Įkelti" alt="Įkelti" /><a href="/nuotraukos/photo/pateikti">Įkelti nuotrauką</a></li>
        <li><img src="{{ STATIC_URL }}images/toolbar/add.png" width="32" height="32" title="Įkelti" alt="Įkelti" /><a href="/nuotraukos/gallery/pateikti">Sukurti albumą</a></li>		
    </ul>
</div>

<div class="box">
    <ul class="clean">
        <li><img src="{{ STATIC_URL }}images/toolbar/full_page.png" width="32" height="32" title="Renginio aprašymas" alt="Renginio aprašymas" /><a title="{{ event.title }}" href="/renginiai/{{ event.id }}/">Renginio aprašymas</a></li>
    </ul>
</div>

{% endblock %}


