{% extends "root.html" %}

{% block title %}Sukurti nuotraukų albumą{% endblock %}

{% block content %}

<h1>Sukurti nuotraukų albumą</h1>

<form action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.id }}
        
        {% if form.errors %}
            <p class="error">
                Nuotraukų albumo sukurti nepavyko. Atidžiai perskaitykite klaidų pranešimus ir pabandykite dar kartą.
            </p>
        {% endif %}
        
        <p>Laukeliai, pažymėti žvaigždute <abbr title="Required">*</abbr>, yra privalomi.</p>
        
        <fieldset>
	        <legend>Informacija apie albumą</legend>
	        <p>
	            {{ form.title.label_tag }}<abbr title="Required">*</abbr><br />
	            {{ form.title }}
	            {% if form.title.errors %}
	                <span class="error">
	                    {% for error in form.title.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.title.help_text %}<br /><span class="helptext">{{ form.title.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            {{ form.description.label_tag }}<abbr title="Required">*</abbr><br />
	            {{ form.description }}
	            {% if form.description.errors %}
	                <span class="error">
	                    {% for error in form.description.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.description.help_text %}<br /><span class="helptext">{{ form.description.help_text|safe }}</span>{% endif %}
	        </p>
	        <p>
	            {{ form.tags.label_tag }}<abbr title="Required">*</abbr><br />
	            {{ form.tags }}
	            {% if form.tags.errors %}
	                <span class="error">
	                    {% for error in form.tags.errors %}
	                        {{ error }} 
	                    {% endfor %}
	                </span>
	            {% endif %}
	            {% if form.tags.help_text %}<br /><span class="helptext">{{ form.tags.help_text|safe }}</span>{% endif %}
	        </p>
        </fieldset>
        <button type="submit" value="submit" >Įkelti</button>
        <a class="cancel" href="/">Atšaukti</a>
</form>
    {% if form.non_field_errors %}
            <ul class="error">
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
    {% endif %}
{% endblock %}