{% extends "root.html" %}

{% block title %}{{ object.gallery.title }}{% endblock %}

{% block content %}

    <h1>{{ object.gallery.title }}</h1>
    <div id="gallery-photo">
    	{% if object.next_photo_exists %}      
			<a id="next" href="{{ object.get_next_photo_url }}"><span><img src="{{ STATIC_URL }}images/toolbar/right_arrow.png" id="next-event" height="32" width="32" /></span></a>
		{% endif %}

		{% if object.previous_photo_exists %}
			<a id="previous" href="{{ object.get_previous_photo_url }}"><span><img src="{{ STATIC_URL }}images/toolbar/left_arrow.png" height="32" width="32" /></span></a>
		{% endif %}

        <img src="{{ object.get_photo_desktop_url }}" class="{% block gallery-photo-class %}{% endblock %}" alt="{{ object.title }}"/>
        {% if object.title %}<p>{{ object.title }}</p>{% endif %}
        {% if object.description %}<p>{{ object.description }}</p>{% endif %}
    </div>
    <p>&larr; <a href="{{ object.gallery.get_absolute_url }}">Atgal į nuotraukų albumą</a></p>

{% endblock %}


{% block sidebar %}
<div class="box">
    <h2 class="headline">Papildomos funkcijos</h2>
    <ul class="clean">
        <li><img src="{{ STATIC_URL }}images/toolbar/add.png" width="32" height="32" title="Įkelti" alt="Įkelti" /><a href="/nuotraukos/photo/pateikti">Įkelti nuotrauką</a></li>
        <li><img src="{{ STATIC_URL }}images/toolbar/add.png" width="32" height="32" title="Įkelti" alt="Įkelti" /><a href="/nuotraukos/gallery/pateikti">Sukurti albumą</a></li>		
        {% if user.id == photo.user_id or user.is_staff %}
        <li><img src="{{ STATIC_URL }}images/toolbar/edit.png" width="32" height="32" title="Redaguoti" alt="Redaguoti" /><a href="redaguoti">Redaguoti nuotrauką</a></li>
        {% endif %}
    </ul>
</div>

{% if object.gallery.event %}
	<div class="box">
	    <ul class="clean">
	        <li><img src="{{ STATIC_URL }}images/toolbar/full_page.png" width="32" height="32" title="Renginio aprašymas" alt="Renginio aprašymas" /><a title="{{ object.gallery.event.title }}" href="/renginiai/{{ object.gallery.event.id }}/">Renginio aprašymas</a></li>
	    </ul>
	</div>
{% endif %}

{% endblock %}
