{% extends 'base.html' %}
{% load markup %}

{% block title %}Ačiū{% endblock %}

{% block content %}
<h1>Ačiū!</h1>

<p>Jūsų skelbimas sėkmingai išsaugotas mūsų sistemoje. Linkime sėkmės!</p>
<p>Patinka ši svetainė? Paremk ją <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=info@nylithuanian.org&item_name=Parama%20JAV%20LB%20Niujorko%20apygardai&item_number=Niujorko%20apygarda&currency_code=USD&image_url=https://www.nylithuanian.org/static/images/logo_paypal.png&amount=5">$5.00 dovana</a>! Visos aukos nurašomos nuo mokesčių.</p>
<p>&larr; <a href="/skelbimai">Į skelbimų sąrašą</a></p>
{% endblock%}

{% block sidebar %}
<div class="box">
    <h2 class="headline">Papildomos funkcijos</h2>
    <ul class="clean">
        <li><img src="{{ STATIC_URL }}images/toolbar/add.png" width="32" height="32" title="Pateikti" alt="Pateikti" /><a href="/renginiai/pateikti">Pranešti apie renginį</a></li>
    </ul>
</div>
{% endblock %}