{% extends "photologue/root.html" %}

{% load photologue_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

{% for gallery in object.public_galleries %}
    <h1>{{ gallery.title }}</h1>


    <div id="gallery-photo">
        {% previous_in_gallery object gallery %}
        {% next_in_gallery object gallery %}

        <img src="{{ object.get_photo_desktop_url }}" class="{% block gallery-photo-class %}{% endblock %}" alt="{{ object.title }}"/>
        {% if object.title %}<p>{{ object.title }}</p>{% endif %}
        {% if object.caption %}<p>{{ object.caption }}</p>{% endif %}
    </div>
    <p>&larr; <a href="{{ gallery.get_absolute_url }}">Atgal į nuotraukų albumą</a></p>
<!--
    <ul class="sub-commands">
        <li>
            <a href="{{ gallery.get_absolute_url }}">Atgal į albumą</a>
        </li>
    </ul>
-->
{% endfor %}
{% endblock %}
