{% extends 'base.html' %}
{% load markup %}

{% block content %}
<h1>{{ greeting.title }}</h1>

{% if greeting.first_name %}
    <p class="meta">
        Autorius: {{ greeting.first_name }} {{ greeting.last_name }}{% if greeting.organization_title %}, {{ greeting.organization_title }}{% endif %}
    </p>
{% elif greeting.organization_title %}
    <p class="meta">
        Autorius: {{ greeting.organization_title }}
    </p>
{% endif %}

{{ greeting.body|striptags|textile }}
{% endblock%}

{% block sidebar %}
<div class="box">
    <h2 class="headline">Papildomos funkcijos</h2>
    <ul class="clean">
        <li><img src="{{ STATIC_URL }}images/toolbar/add.png" width="32" height="32" title="pateikti sveikinimą" alt="pateikti sveikinimą" /><a href="../pateikti">Pateikti naują sveikinimą</a></li>
        {% if user.id == greeting.user_id or user.is_staff %}
        <li><img src="{{ STATIC_URL }}images/toolbar/edit.png" width="32" height="32" title="Redaguoti" alt="Redaguoti" /><a href="redaguoti">Redaguoti</a></li>
        {% endif %}
        <li><img src="{{ STATIC_URL }}images/toolbar/comments.png" width="32" height="32" title="Komentarai" alt="Komentarai" /><a href="komentarai">Komentarai{% if comment_count %} ({{ comment_count }}){% endif %}</a></li>
    </ul>
</div>
{% endblock %}
