{% extends 'base.html' %}

{% block content %}
    {% if success %}
    <p>
        Ačiū, Jūsų straipsnis sėkmingai išsaugotas. Mūsų moderatoriai jį netrukus patikrins ir paskelbs svetainėje.
    </p>
    {% else %}
        {% if form.errors %}
        <p style="color: #FF0000;">
            Jūsų formoje rasta klaidų. Prašome jas ištaisyti ir pateikti formą iš naujo.
        </p>
        {% endif %}
        <h2>Įkelti straipsnį</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.id }}
                <p>Laukeliai, pažymėti žvaigždute <abbr title="Required">*</abbr>, yra privalomi.</p>
                
                <p>
                    <label for="id_title">Pavadinimas<abbr title="Required">*</abbr></label><br/>
                    {{ form.title }}
                </p>
                
                <p>
                    <label for="id_summary">Santrauka/įžanga</label><br/>
                    {{ form.summary }}<br/>
                    <span class="note">Šis tekstas bus rodomas pateikiant trumpą straipsnio aprašymą. Jis taip pat bus pateikiamas pirmoje viso straipsnio pastraipoje.</span>
                </p>

                <p>
                    <label for="id_body">Straipsnio tekstas<abbr title="Required">*</abbr></label><br/>
                    {{ form.body }}
                </p>
                <p>
                    <label for="id_publish_date">Straipsnį rodyti</label>
                    nuo {{ form.publish_date }} iki {{ form.expiry_date }}<br />
                    <span class="note">Nurodykite, kuriuo metu straipsnis turėtų būti publikuojamas. Jei norite, kad straipsnis būtų publikuojamas visada, palikite abu laukelius tuščius.</span>
                </p>

                
            <button type="submit" value="Post" >Pateikti straipsnį</button>
            <button type="submit" value="Preview" >Peržiūra</button>
            <a class="cancel" href="">Atšaukti</a>
        </form>
    {% endif %}
{% endblock %}
